@import "variable", "mixin";

.about {
  text-align: center;

  img {
    width: 50%;
    border-radius: 50% 40% 50% 50%/50% 50% 30% 40%;
    margin: 3% 0;
  }

  .text__right {
    text-align: center;

    h3 {
      margin-top: 5%;

      &::after {
        @include guideLineW($brown, 18px, 20px);
      }
    }

    .text__container {
      width: 70%;
      margin: 5% auto;
    }
  }
}

div.text__container {
  margin: 15px 0;

  p {
    display: inline;
    line-height: 2em;
    padding: 3px;
    background-color: $primary-pink;
  }

  p.bg-color--secondpink {
    background-color: $secondary-pink;
    color: #FFFFFF;
  }
}

.about__icons__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 5% auto;

  &-item {
    width: 40%;
    margin: 10% 0;
  }

  .icon--bg-white {
    @include iconBg(80px, 80px, $secondary-pink, $white);
  }

  .icon {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    margin: 20% 15%;
    position: relative;
    stroke-width: 0;
    stroke: $white;
    fill: $secondary-pink;

    &-piano {
      stroke-width: 0.4;
      stroke: $secondary-pink;
    }
  }
}


@include pcSize {
  .about__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-item--left {
      width: 30%;
      margin-left: 10%;

      img {
        width: 100%;
      }
    }

    &-item--right {
      width: 60%;

      &.text__right {
        text-align: right;

        .text__container {
          width: 80%;
          margin-right: 0;
        }
      }
    }
  }

  .about__icons__flex {
    justify-content: center;
    width: 100%;
    margin-top: 5%;

    &-item {
      width: 5%;
      margin: 0 5%;
    }

    .icon--bg-white {
      @include iconBg(90px, 90px, $secondary-pink, $white);
      margin: 0 auto;

      .icon {
        margin: 17% 20%;
      }

      &:hover {
        background-color: $secondary-pink;
        filter: none;
      }

      &:hover .icon {
        fill: $white;
      }

      &:hover .icon-piano {
        stroke: $white;
      }
    }
  }
}