@import "variable", "typography";

.about__part {
  width: 100%;
  background-color: $primary-pink;
  padding: 5% 0;
  margin: 2% 0 0 0;

  h2 {
    font-size: $font-size-h2-mb;
    padding-bottom: 5%;
  }

  &__flex {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;

    &-item {
      width: 80%;
      margin: 10% auto;
      opacity: 0;

      &:nth-child(1) {
        -webkit-animation: scrollIn 1s forwards;
        -o-animation: scrollIn 1s forwards;
        animation: scrollIn 1s forwards;
      }

      &:nth-child(2) {
        -webkit-animation: scrollIn 1s 1s forwards;
        -o-animation: scrollIn 1s 1s forwards;
        animation: scrollIn 1s 1s forwards;
      }

      &:nth-child(3) {
        -webkit-animation: scrollIn 1s 2s forwards;
        -o-animation: scrollIn 1s 2s forwards;
        animation: scrollIn 1s 2s forwards;
      }

      &:nth-child(4) {
        -webkit-animation: scrollIn 1s 3s forwards;
        -o-animation: scrollIn 1s 3s forwards;
        animation: scrollIn 1s 3s forwards;
      }

      .icon--bg-white {
        @include iconBg(80px, 80px, $secondary-pink, $white);
        margin: 5% auto;

        .icon {
          display: inline-block;
          width: 2.5rem;
          height: 2.5rem;
          position: relative;
          stroke-width: 0;
          stroke: $white;
          fill: $secondary-pink;
          margin: 17% 22%;
        }
      }

      p {
        font-size: $font-size-base-mb;
        font-weight: $font-weight-light;
        margin-top: 10%;
      }
    }

    @-webkit-keyframes scrollIn {
      from {
        transform: translateY(500px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @-o-keyframes scrollIn {
      from {
        transform: translateY(500px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }

    @keyframes scrollIn {
      from {
        transform: translateY(500px);
        opacity: 0;
      }
      to {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}


@include pcSize {
  .about__part {
    padding: 0;

    h2 {
      padding: 3% 0 0 0;
    }

    &__flex {
      justify-content: space-around;

      &-item {
        width: 20%;
        opacity: 0;

        &:nth-child(1) {
          -webkit-animation: scrollIn 1s forwards;
          -o-animation: scrollIn 1s forwards;
          animation: scrollIn 1s forwards;
        }

        &:nth-child(2) {
          -webkit-animation: scrollIn 1s 1s forwards;
          -o-animation: scrollIn 1s 1s forwards;
          animation: scrollIn 1s 1s forwards;
        }

        &:nth-child(3) {
          -webkit-animation: scrollIn 1s 2s forwards;
          -o-animation: scrollIn 1s 2s forwards;
          animation: scrollIn 1s 2s forwards;
        }

        &:nth-child(4) {
          -webkit-animation: scrollIn 1s 3s forwards;
          -o-animation: scrollIn 1s 3s forwards;
          animation: scrollIn 1s 3s forwards;
        }

        .icon--bg-white {
          @include iconBg(90px, 90px, $secondary-pink, $white);
          margin: 0 auto;


          &:hover {
            background-color: $secondary-pink;
            filter: none;
          }

          &:hover .icon {
            fill: $white;
          }

          &:hover .icon-piano {
            stroke: $white;
          }
        }

        p {
          font-size: $font-size-base-pc;
        }
      }

      @-webkit-keyframes scrollIn {
        from {
          transform: translateY(500px);
          opacity: 0;
        }
        to {
          transform: translateY(0);
          opacity: 1;
        }
      }

      @-o-keyframes scrollIn {
        from {
          transform: translateY(500px);
          opacity: 0;
        }
        to {
          transform: translateY(0);
          opacity: 1;
        }
      }

      @keyframes scrollIn {
        from {
          transform: translateY(500px);
          opacity: 0;
        }
        to {
          transform: translateY(0);
          opacity: 1;
        }
      }
    }
  }
}


@include middleSize {
  .about__part {
    &__flex {
      justify-content: space-around;

      &-item {
        width: 40%;

        .icon--bg-white {
          margin: 0 auto;
        }

        p {
          font-size: $font-size-base-pc;
        }
      }
    }
  }
}
