@import "variable", "mixin", "typography";

.about {
  text-align: center;

  img {
    width: 40%;
    border-radius: 50% 40% 50% 50%/50% 50% 30% 40%;
    margin: 3% 0;
  }

  .text__align {
    text-align: center;

    h3 {
      margin-top: 5%;

      &::after {
        @include guideLineW($brown, 18px, 20px);
      }
    }

    .text__container {
      width: 90%;
      margin: 5% auto;
      padding: 10%;
      text-align: center;
      border-radius: 5%;

      p {
        line-height: 2em;
        padding: 3%;
      }

      &--blue {
        background-color: $complementary-blue;
      }

      &--pink {
        background-color: $primary-pink;
      }
    }

    &-item--right {
      .about__button {
        width: 50%;
        margin: 5% auto;
        padding: 5% 0;
        border: 3px solid $secondary-pink;
        border-radius: 5%;
        text-align: center;

        a{
          color: $black;
          font-weight: $font-weight-bold;
        }

        &:hover {
          background-color: $secondary-pink;
        }

        &:hover a {
          color: $white;
          font-weight: $font-weight-bold;
        }
      }
    }
  }
}





@include pcSize {
  .about__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &-item--left {
      width: 30%;
      margin-left: 10%;

      img {
        width: 100%;
      }
    }

    &-item--right {
      width: 60%;
      position: relative;

      &.text__align {
        text-align: right;

        .text__container {
          width: 60%;
          margin-right: 0;
        }

        div.text__container--blue {

          p {
            text-align: justify;
            line-height: 2em;
            padding: 3%;
            background-color: $complementary-blue;
          }
        }

        div.text__container--pink {
          margin: 15px 0 15px 80px;

          p {
            text-align: justify;
            line-height: 2em;
            padding: 3%;
            background-color: $primary-pink;
          }
        }
      }

      .about__button {
        position: absolute;
        bottom: 0;
        left: 65%;
        width: 23%;
        margin-top: 2%;
        margin-right: 5%;
        padding: 2% 0;
        border: 3px solid $secondary-pink;
        border-radius: 5%;
        text-align: center;
        cursor: pointer;

        a{
          color: $black;
        }

        &:hover {
          background-color: $secondary-pink;
        }

        &:hover a {
          color: $white;
          font-weight: $font-weight-bold;
        }
      }
    }
  }


}

@include middleSize {
  .about__icons__flex-item {
    width: 8%;
    margin: 0 5%;
  }
}