@import "variable";

.contact {
  text-align: center;

  &__text {
    margin: 50px auto 30px;
    width: 70%;
    line-height: 50px;
  }
}

.icon--bg-pink {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: $secondary-pink;
  margin: 0 auto;
  filter: drop-shadow(0 3px 2px #B0B0B0);

  img {
    width: 40px;
    padding: 20px 0;
  }

  &:hover {
    opacity: 0.8;
    filter: none;
  }
}

