@import "variable", "mixin";

.contact {
  text-align: center;

  &__text {
    margin: 50px auto 30px;
    width: 70%;
    line-height: 50px;
  }
}

.icon--bg-pink {
  @include iconBg(80px, 80px, transparent, $secondary-pink);
  margin: 0 auto;

  img {
    width: 40px;
    padding: 20px 0;
  }

  &:hover {
    opacity: 0.8;
    filter: none;
  }
}

