@import "variable", "mixin";

.contact {
  text-align: center;
  padding-top: 25%;

  &__text {
    margin: 50px auto 30px;
    width: 70%;
    line-height: 35px;
  }
}

.icon--bg-pink {
  @include iconBg(80px, 80px, transparent, $secondary-pink);

  img {
    width: 40px;
    padding: 17px 0;
  }

  &:hover {
    opacity: 0.8;
    filter: none;
  }
}


//responsive for pc
@include pcSize {
  .contact {
    padding-top: 0;
    margin-bottom: 10%;
  }
  .contact__text {
    line-height: 50px;
  }
}