@import "variable", "typography", "mixin";

.global-nav {
  visibility: hidden;
  margin-left: auto;
  text-align: right;

  .nav-list {
    li {
      font-size: $font-size-base-mb - 5px;
      padding-bottom: 30%;
    }

    a {
      color: $black;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}