@import "variable", "typography", "mixin";

.global-menu {
  display: block;
  margin-left: auto;
  text-align: right;

  .nav-list {
    li {
      font-size: $font-size-base-pc - 3px;
      padding-bottom: 8%;
    }

    a {
      color: $black;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}