@import "variable", "typography", "mixin";

header {
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 10;

  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      width: 30px;
      height: 35px;
    }
  }

}