@import "variable", "typography", "mixin";

.bg-color--pink {
  height: 100vh;
  background-color: $secondary-pink;
  position: relative;
}

.menu {
  position: fixed;
  width: 50px;
  height: 50px;
  font-size: 30px;
  text-align:center;
  border-radius: 100%;
  right:25px;
  top:25px;
}
.menu-bg {
  @extend .menu;
  background: $white;
  pointer-events: none;
  transition: .5s;
  right:50px;
  top:50px;
  transform:translate3d(50%,-50%,0);
  transform-origin: center center;
  z-index: 15;
  &.fs{
    transform:translate3d(50%,-50%,0);
    width: 300vw;
    height: 300vw;
  }
}
.menu-burger {
  @extend .menu;
  color: $brown;
  padding-top: 9px;
  -webkit-user-select: none;
  cursor: pointer;
  transition: .4s;
  transform-origin: center;
  z-index: 20;
  &.fs {
    transform: rotate(-180deg) translateY(10px);
  }
}
.menu-items{
  position:absolute;
  font-size: $font-size-base-pc;
  letter-spacing:10px;
  color: white;
  width: 100%;
  text-align: center;
  opacity:0;
  transition: .4s;
  margin-top:100px;
  transform: translateY(-200%);
  pointer-events:none;
  z-index: 30;

  li {
    transition: 1s;
    opacity: 0;
    margin-top: 0;

    a {
      position: relative;
      color: $black;

      &::after {
        position: absolute;
        top: 35px;
        left: 0;
        content: '';
        display: inline-block;
        width: 0;
        border-bottom: 3px solid $primary-pink;
        transition: .5s ease-out;
      }
    }
  }

  &.fs {
    transform: translateY(0);
    pointer-events:auto;
    opacity: 1;

    li{
      opacity: 1;
      margin-top: 75px;

      a:hover::after {
        width: 100%;
      }
    }
  }
}

.hero {
  width: 100%;
  height: 100vh;
  margin-top: 0;
  padding-top: 200px;

  &__txt {
    text-align: left;

    //@-webkit-keyframes textShadow {
    //  0% {text-shadow: none;}
    //  100% {text-shadow: 5px 2px 7px rgba(138, 124, 124, 0.4);}
    //}
    //
    //@-o-keyframes textShadow {
    //  0% {text-shadow: none;}
    //  100% {text-shadow: 5px 2px 7px rgba(138, 124, 124, 0.4);}
    //}
    //
    //@keyframes textShadow {
    //  0% {text-shadow: none;}
    //  100% {text-shadow: 5px 2px 7px rgba(138, 124, 124, 0.4);}
    //}
    //
    //span {
    //  display: inline-block;
    //  @include vendorPrefix(transform, translateY(-1000px));
    //
    //  &:nth-child(3) {
    //    padding-right: 2%;
    //  }
    //}
    //
    //span.fallDown {
    //  @include vendorPrefix(animation, fallDown 1s forwards ease-in);
    //}
    //
    //@-webkit-keyframes fallDown {
    //  0% {@include vendorPrefix(transform, translateY(-1000px));}
    //  50% {@include vendorPrefix(transform, translateY(-500px));}
    //  100% {@include vendorPrefix(transform, translateY(0));}
    //}
    //
    //@-o-keyframes fallDown {
    //  0% {@include vendorPrefix(transform, translateY(-1000px));}
    //  50% {@include vendorPrefix(transform, translateY(-500px));}
    //  100% {@include vendorPrefix(transform, translateY(0));}
    //}
    //
    //@keyframes fallDown {
    //  0% {@include vendorPrefix(transform, translateY(-1000px));}
    //  50% {@include vendorPrefix(transform, translateY(-500px));}
    //  100% {@include vendorPrefix(transform, translateY(0));}
    //}

    h3 {
      letter-spacing: 0.15em;
      color: $primary-pink;
      text-shadow: 5px 2px 7px rgba(212, 115, 109, 0.4);
      padding-bottom: 10px;
      //@include vendorPrefix(animation, showDelay 0.8s 2s forwards ease-in);
    }

    //@-webkit-keyframes showDelay {
    //  0% {opacity: 0;}
    //  100% {opacity: 1;}
    //}
    //
    //@-o-keyframes showDelay {
    //  0% {opacity: 0;}
    //  100% {opacity: 1;}
    //}
    //
    //@keyframes showDelay {
    //  0% {opacity: 0;}
    //  100% {opacity: 1;}
    //}
  }

  h1 {
    color: $white;
    margin-top: 300px;
    text-align: right;
    //@include vendorPrefix(animation, textShadow .8s 2s forwards ease-in);

  }
}


//responsive for PC
@include pcSize {
  .hero {

    &__txt {
      text-align: left;
      position: relative;

      &::before {
        @include bgText("MIE");
        writing-mode: vertical-lr;
        text-orientation: sideways;
        bottom: -570px;
        left: -120px;
      }

      &::after {
        @include bgText("Front-End");
        text-align: right;
        top: -150px;
        right: -100px;
      }
    }

    h1 {
      position: relative;
      font-size: $font-size-h1-pc;
      margin-top: 350px;
      padding-left: 30%;

      &::before {
        content: url("../images/arrow.png");
        position: absolute;
        opacity: 0.1;
        top: -100px;
        left: 300px;
        animation: downNav 2s infinite ease-in;
      }
      
      @keyframes downNav {
        from { top: -50px; }
        to {
          top: 200px;
          opacity: 0;
        }
      }
    }
  }
}

//responsive for before mb
@include middleSize {
  .hero {

    &__txt {

      h3 {
        font-size: $font-size-h3-pc;
      }
    }

    h1 {
      font-size: $font-size-h1-pc;
      margin-top: 350px;
    }
  }
}