@import "variable", "typography", "mixin";

.hero {
  width: 100%;
  min-height: 500px;
  margin-top: 0;
  padding-top: 15%;

  &__txt {

    h1 {
      position: relative;
      display: inline-block;
      width: 100%;
      text-align: center;
      animation: textShadow 0.8s 2s forwards ease-in;
      padding-bottom: 32px;
    }

    @keyframes textShadow {
      0% {text-shadow: none;}
      100% {text-shadow: 5px 2px 7px rgba(138, 124, 124, 0.4);}
    }

    span {
      display: inline-block;
      transform: translateY(-1000px);

      &:nth-child(3) {
        padding-right: 2%;
      }
    }

    span.fallDown {
      animation: fallDown 1s forwards ease-in;
    }

    @keyframes fallDown {
      0% {transform: translateY(-1000px);}
      50% {transform: translateY(-500px);}
      100% {transform: translateY(0);}
    }

    h2 {
      opacity: 0;
      text-align: center;
      color: $secondary-pink;
      text-shadow: 5px 2px 7px rgba(212, 115, 109, 0.4);
      padding-bottom: 10px;
      animation: showDelay 0.8s 2s forwards ease-in;
    }

    @keyframes showDelay {
      0% {opacity: 0;}
      100% {opacity: 1;}
    }
  }
}



//responsive for PC
@include pcSize {
  .hero {
    padding-top: 13%;
    text-align: center;

    &__txt {

      h1 {
        font-size: $font-size-h1-pc;
        width: 80%;
      }

      h2 {
        font-size: $font-size-h2-pc;
      }
    }
  }
}

//responsive for before mb
@include middleSize {
  .hero__txt {

    h1 {
      font-size: $font-size-h1-pc;
    }

    h2 {
      font-size: $font-size-h2-pc;
    }
  }
}