@import "variable", "typography", "mixin";

.bg-color--pink {
  height: 100vh;
  background-color: $primary-pink;
  position: relative;
  overflow: hidden;
}

.hero {
  width: 100%;
  height: 100vh;
  margin-top: 0;
  padding-top: 200px;

  &__txt {
    text-align: left;

    h2 {
      font-weight: $font-weight-light;
      letter-spacing: 0.15em;
      color: $secondary-pink;
      text-shadow: 5px 2px 7px rgba(212, 115, 109, 0.4);
      padding-bottom: 10px;
    }
  }

  h1 {
    color: $secondary-pink;
    margin-top: 300px;
    text-align: right;
  }
}


//responsive for PC
@include pcSize {
  .bg-color--pink {
    &::after {
      content: url("../images/arrow.png");
      position: absolute;
      bottom: 200px;
      left: 50px;
      animation: downNav 2s 3.5s infinite ease-in-out;
      z-index: 11;
      opacity: 0;
    }

    @keyframes downNav {
      from {
        bottom: 100px;
        opacity: 1;
      }
      to {
        bottom: 0;
        opacity: 0;
      }
    }
  }

  .hero {
    &__txt {
      text-align: left;
      position: relative;
      z-index: 10;
      animation: heromove 1.5s ease-in 0.5s 1 forwards;
      opacity: 0;

      &::before {
        @include heroBgCircle(-100px, -30px, 350px, 350px);
        //animation: heromove 0.5s ease-in 0.5s 1 forwards;
        animation: inherit;
        opacity: 0;
      }
    }

    h1 {
      position: relative;
      font-size: $font-size-h1-pc;
      margin-top: 330px;
      padding-left: 30%;
      z-index: 10;
      animation: heromove 1.5s ease-in 1.5s 1 forwards;
      opacity: 0;

      &::before {
        @include heroBgCircle(-100px, 75%, 250px, 250px);
        //animation: heromove 0.5s ease-in 1s 1 forwards;
        animation: inherit;
        opacity: 0;
      }
    }

    @keyframes heromove {
      100% {
        opacity: 1;
      }
    }
  }


}

//responsive for before mb
@include middleSize {
  .hero {

    &__txt {
      position: relative;

      &::before {
        @include heroBgCircle(-100px, -30px, 350px, 350px);
      }

      h2 {
        font-size: $font-size-h2-pc;
      }
    }

    h1 {
      position: relative;
      font-size: $font-size-h1-pc;
      margin-top: 350px;

      &::before {
        @include heroBgCircle(-100px, 75%, 250px, 250px);
      }
    }
  }
}