@import "variable", "mixin";

.link {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 30%;

  h4 {
    display: inline-block;
    color: $secondary-pink;

    &::after {
      @include guideLineW(10%, 0);
    }
  }
}
