@import "variable";

@mixin menuTrigger($top) {
  content: '';
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  top: $top;
  background-color: $brown;
  border-radius: 30px;
  transition: transform 3s;
}

@mixin bgText($content) {
  display: block;
  content: $content;
  color: $secondary-pink;
  opacity: 0.1;
  font-family: $font-base;
  font-size: 15rem;
  position: absolute;
}


@mixin circle($top, $right, $bottom, $left) {
  content: '';
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: $primary-pink;
  margin: $top $right $bottom $left;
}

@mixin guideLineH($top, $right, $bottom, $left) {
  display: block;
  content: '';
  border-left: 3px solid $brown;
  height: 30px;
  margin: $top $right $bottom $left;
}

@mixin guideLineW($color, $top, $bottom) {
  display: block;
  content: '';
  border-bottom: 3px solid $color;
  width: 30px;
  margin: $top auto $bottom;
}

@mixin valuesIcons($width, $img) {
  content: $img;
  display: inline-block;
  width: $width;
  margin-right: 2%;
}

@mixin borderStyle($opacity, $top, $left, $width, $height) {
  position: absolute;
  top: $top;
  left: $left;
  opacity: $opacity;
  width: $width;
  height: $height;
  border: 3px solid $secondary-pink;
  border-radius: 30% 5% 20% 3%/ 7% 20% 10% 30%;
  transition: .3s;
  pointer-events: none;
}

@mixin iconBg($width, $height, $borderColor, $bgColor) {
  width: $width;
  height: $height;
  border-radius: 30px;
  border: 3px solid $borderColor;
  background-color: $bgColor;
  margin: 0 auto;
}

@mixin vendorPrefix($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $value;
  }
}

@mixin circleValue($color) {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px inset $color;
  margin: 0 auto;
  text-align: center;
}

@mixin circleValueImg($url, $width, $height) {
  display: inline-block;
  width: $width;
  height: $height;
  margin: 20% 0 0 5%;
  background-image: $url;
}

@mixin circleAboutMb($color) {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: $color;
}

@mixin circleAboutPc($color) {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  background-color: $color;
}

@mixin circleAboutMid($color) {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: $color;
}

@mixin heroBgCircle($top, $left, $width, $height) {
  content: '';
  display: block;
  position: absolute;
  top: $top;
  left: $left;
  width: $width;
  height: $height;
  border-radius: 50%;
  background-color: $white;
  z-index: -1;
}

//top img for each work page
@mixin workImgTop($url) {
  width: 100%;
  height: 300px;
  background: $url bottom;
  background-size: cover;
}

//for responsive
@mixin pcSize {
  @media (min-width: (1000px)) {
    @content;
  }
}

@mixin middleSize {
  @media (min-width: 640px) and (max-width: 999px) {
    @content;
  }
}
