@import "variable";

@mixin menuTrigger($top) {
  content: '';
  width: 30px;
  height: 3px;
  display: block;
  position: absolute;
  margin-top: $top;
  background-color: $brown;
  transition: transform 3s;
}


@mixin circle($top, $right, $bottom, $left) {
  content: '';
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: $primary-pink;
  margin: $top $right $bottom $left;
}

@mixin guideLineH($top, $right, $bottom, $left) {
  display: block;
  content: '';
  border-left: 3px solid $brown;
  height: 30px;
  margin: $top $right $bottom $left;
}

@mixin guideLineW($color, $top, $bottom) {
  display: block;
  content: '';
  border-bottom: 3px solid $color;
  width: 30px;
  margin: $top auto $bottom;
}

@mixin valuesIcons($img) {
  content: $img;
  display: inline-block;
  width: 60px;
  margin-right: 2%;
  border-left: 5px solid $complementary-blue;
}

@mixin borderStyle($opacity, $top, $left, $width, $height) {
  position: absolute;
  top: $top;
  left: $left;
  opacity: $opacity;
  width: $width;
  height: $height;
  border: 3px solid $secondary-pink;
  border-radius: 30% 5% 20% 3%/ 7% 20% 10% 30%;
  transition: .3s;
  pointer-events: none;
}

@mixin iconBg($width, $height, $borderColor, $bgColor) {
  width: $width;
  height: $height;
  border-radius: 30px;
  border: 3px solid $borderColor;
  background-color: $bgColor;
  margin: 0 auto;
}

//for responsive
@mixin pcSize {
  @media (min-width: (1000px)) {
    @content;
  }
}

@mixin middleSize {
  @media (min-width: 640px) and (max-width: 999px) {
    @content;
  }
}
