@import "variable", "mixin";

.motto__block {
  width: 100%;
  height: 220px;
  position: relative;
  background-color: #7ECEFC;
  padding: 5% 0;
  margin: 20% auto;
  text-align: center;

  &:nth-child(2)::before {
    @include mottoIcons(url("../images/inspire.svg"));
  }

  &:nth-child(3)::before {
    @include mottoIcons(url("../images/concept.svg"));
  }

  &:nth-child(4)::before {
    @include mottoIcons(url("../images/clear.svg"));
  }

  h3 {
    color: $white;
    padding: 10% 0;

  }

  p {
     line-height: 24px;
  }
}

@include pcSize {
  .motto__block {
    width: 70%;
  }
}