@import "variable", "mixin";

.motto__block {
  width: 100%;
  height: 220px;
  position: relative;
  background-color: #7ECEFC;
  padding: 5% 0;
  margin: 20% auto;
  text-align: center;

  &::before {
    content: url("../images/inspire.svg");
    width: 90px;
    position: absolute;
    top: -50px;
    left: 140px;
  }

  h3 {
    color: $white;
    padding: 10% 0;

  }

  p {
     line-height: 24px;
  }
}

@include pcSize {
  .motto__block {
    width: 70%;
  }
}