@import "variable", "mixin";

.motto__block {
  width: 90%;
  height: 220px;
  background-color: #7ECEFC;
  border-radius: 5%;
  padding: 5% 0;
  margin: 10% 0 10% auto;

  h3 {
    color: $secondary-pink;
    padding: 3% 0;
  }

  p {
     line-height: 24px;
  }
}

@include pcSize {
  .motto__block {
    width: 70%;
  }
}