@import "variable", "mixin";
// _typography.scss defined everything about font-family


// font-family
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Lato:300,400,700" rel="stylesheet');

$font-base: 'Lato', sans-serif;
$font-heading: 'Dosis', sans-serif;

// font-size: mobile
$font-size-base-mb: 16px;
$font-size-h1-mb: 2.5rem; //40px
$font-size-h2-mb: 1.562rem; //25px
$font-size-h3-mb: 1.562rem; //25px
$font-size-h4-mb: 1.25rem; //20px

// font-size: PC
$font-size-base-pc: 20px;
$font-size-h1-pc: 4.5rem; //90px
$font-size-h2-pc: 2rem; //40px
$font-size-h3-pc: 1.5rem; //30px
$font-size-h4-pc: 1.15rem; //23px

  //font-weight
$font-weight-bold: 700;
$font-weight-light: 300;


html {
  font-family: $font-base;
  font-size: $font-size-base-mb;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: $black;
}

@include pcSize {
  html {
    font-size: $font-size-base-pc;
  }
}