@import "variable", "mixin", "typography";

  .values {
    padding-top: 25%;

    .grid {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      grid-template-rows: 150px auto 150px auto 150px auto 150px auto;
      text-align: center;
    }

      .grid__circle--row1 {
        @include circleValue(#B2E0F2);
        grid-column: 2 / span 1;
        grid-row: 1 / span 1;
      }

      .grid__circle--row3 {
        @include circleValue(#96DADB);
        grid-column: 2 / span 1;
        grid-row: 3 / span 1;
      }

      .grid__circle--row5 {
        @include circleValue(#ABBAF9);
        grid-column: 2 / span 1;
        grid-row: 5 / span 1;
      }

      .grid__circle--row7 {
        @include circleValue(#B2A3E5);
        grid-column: 2 / span 1;
        grid-row: 7 / span 1;
      }

      .icon {
        width: 3.5rem;
        height: 3.5rem;
        margin: 23% 0 0 5%;

        &--scale {
          width: 4rem;
          height: 4rem;
          margin: 25% auto;
        }
      }

      h4 {
        padding: 15px 0 40px;
        font-weight: $font-weight-light;
      }

      .grid__text--row2 {
        grid-column: 1 / span 3;
        grid-row: 2 / span 1;
      }

      .grid__text--row4 {
        grid-column: 1 / span 3;
        grid-row: 4 / span 1;
      }

      .grid__text--row6 {
        grid-column: 1 / span 3;
        grid-row: 6 / span 1;
      }

      .grid__text--row8 {
        grid-column: 1 / span 3;
        grid-row: 8 / span 1;
      }
  }


@include pcSize {
  .values {
    padding-top: 5%;

    .grid {
      display: grid;
      grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
      grid-template-rows: 150px auto 50px 150px auto;
      text-align: center;
    }

    .grid__circle--row1 {
      @include circleValue(#B2E0F2);
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
    }

    .grid__circle--row3 {
      @include circleValue(#96DADB);
      grid-column: 4 / span 1;
      grid-row: 1 / span 1;
    }

    .grid__circle--row5 {
      @include circleValue(#ABBAF9);
      grid-column: 2 / span 1;
      grid-row: 4 / span 1;
    }

    .grid__circle--row7 {
      @include circleValue(#B2A3E5);
      grid-column: 4 / span 1;
      grid-row: 4 / span 1;
    }

    .grid__text--row2 {
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
    }

    .grid__text--row4 {
      grid-column: 4 / span 1;
      grid-row: 2 / span 1;
    }

    .grid__text--row6 {
      grid-column: 2 / span 1;
      grid-row: 5 / span 1;
    }

    .grid__text--row8 {
      grid-column: 4 / span 1;
      grid-row: 5 / span 1;
    }
  }
}

@include middleSize {
  .values {
    padding-top: 10%;

    &__block {

      &--heading {
        margin-bottom: 2%;
      }
      //&--detail {
      //  margin-top: 0;
      //
      //  li {
      //    padding: 1.5%;
      //  }
      //}
    }
  }
}
