@import "variable", "mixin", "typography";
  .values__block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 5% auto 5% 0;

    h3 {
      font-size: $font-size-h3-mb;
    }

    //&:nth-child(1)::before {
    //  @include valuesIcons(20%, url("../images/inspire.svg"));
    //}
    //
    //&:nth-child(2)::before {
    //  @include valuesIcons(20%, url("../images/concept.svg"));
    //}
    //
    //&:nth-child(3)::before {
    //  @include valuesIcons(20%, url("../images/clear.svg"));
    //}
  }

@include pcSize {
  .values__block {
    margin-left: 3%;

    h3 {
      font-size: $font-size-h3-pc;
      width: 500px;
    }

    &:nth-child(1) {
      border-left: 5px solid #B2E0F2;

      h3::before {
        @include valuesIcons(70px, url("../images/inspire.svg"));
      }
    }

    &:nth-child(2) {
      //border-left: 5px solid #80AF98;
      border-left: 5px solid #96DADB;
      h3::before {
        @include valuesIcons(70px, url("../images/inspire.svg"));
      }
    }

    &:nth-child(3) {
      //border-left: 5px solid #FCEF9F;
      border-left: 5px solid #ABBAF9;

      h3::before {
        @include valuesIcons(70px, url("../images/inspire.svg"));
      }
    }

    &--detail {
      margin-left: 5%;

      li {
        list-style-type: disc;
        padding: 2% 0;
      }
    }
  }


}

@include middleSize {
  .values__block {

    h3 {
      font-size: $font-size-h3-pc;
    }

    &:nth-child(1)::before {
      @include valuesIcons(100px, url("../images/inspire.svg"));
    }

    &:nth-child(2)::before {
      @include valuesIcons(100px, url("../images/concept.svg"));
    }

    &:nth-child(3)::before {
      @include valuesIcons(100px, url("../images/clear.svg"));
    }
  }
}
