@import "variable", "mixin", "typography";
  .values__block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin: 5% auto 5% 0;

    h3 {
      font-size: $font-size-h3-mb;
    }

    &:nth-child(1)::before {
      @include valuesIcons(20%, url("../images/inspire.svg"));
    }

    &:nth-child(2)::before {
      @include valuesIcons(20%, url("../images/concept.svg"));
    }

    &:nth-child(3)::before {
      @include valuesIcons(20%, url("../images/clear.svg"));
    }
  }

@include pcSize {
  .values__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .values__block {

    h3 {
      font-size: $font-size-h3-pc;
    }

    &:nth-child(1)::before {
      @include valuesIcons(100px, url("../images/inspire.svg"));
    }

    &:nth-child(2)::before {
      @include valuesIcons(100px, url("../images/concept.svg"));
    }

    &:nth-child(3)::before {
      @include valuesIcons(100px, url("../images/clear.svg"));
    }
  }
}

@include middleSize {
  .values__block {

    h3 {
      font-size: $font-size-h3-pc;
    }

    &:nth-child(1)::before {
      @include valuesIcons(100px, url("../images/inspire.svg"));
    }

    &:nth-child(2)::before {
      @include valuesIcons(100px, url("../images/concept.svg"));
    }

    &:nth-child(3)::before {
      @include valuesIcons(100px, url("../images/clear.svg"));
    }
  }
}
