@import "mixin";

.works__thumbnails {
  width: 100%;

  .thumbnail {
    padding: 8% 0;

    img{
      width: 100%;
    }

    p {
      padding: 5px 0 0 5px;
    }
  }
}

//responsive for PC
@include pcSize {
  .works__thumbnails {
    width: 80%;
    margin: 0 0 0 auto;

    .thumbnail {

      //text-align: right;

      img {
        border-radius: 10%;
      }
    }

  }
}