@import "variable", "mixin";

//.bg-color--blue {
//  width: 100%;
//  padding: 3% 0;
//  margin-left: auto;
//  background-color: $complementary-blue;
//
//  p {
//    margin: 5% 0;
//  }
//
//  p:nth-child(1)::before {
//    content: url("../images/inspire.svg");
//    display: block;
//    width: 50px;
//    height: 50px;
//  }
//
//  p:nth-child(2)::before {
//    content: url("../images/concept.svg");
//    display: block;
//    width: 100px;
//    height: 100px;
//  }
//
//  p:nth-child(3)::before {
//    content: url("../images/clear.svg");
//    display: block;
//    width: 100px;
//    height: 100px;
//  }
//}
//
////responsive for pc
//@include pcSize {
//  .bg-color--blue {
//    width: 550px;
//    height: auto;
//    border-radius: 5%;
//    margin-left: auto;
//  }
//}

.bg-color--blue {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: $blue-opacity;
  position: relative;
  margin: 10% auto;
  text-align: center;
  line-height: 300px;

  img {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: -1;
  }

  p {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}