@import "variable", "mixin";

.bg-color--blue {
  width: 280px;
  height: 300px;
  background-color: $blue-opacity;
  position: relative;
  margin: 10% auto;
  padding: 0 2%;
  text-align: center;
  line-height: 300px;

  &:nth-child(1) {
    border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
  }

  &:nth-child(2) {
    border-radius: 80% 30% 50% 70%/50%;
  }

  &:nth-child(3) {
    border-radius: 40% 40% 50% 40%/30% 50% 40% 50%;
  }

  img {
    width: 60%;
    height: 60%;
    position: absolute;
    top: 20%;
    left: 20%;
    z-index: -1;
  }

  p {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
  }
}


//responsive for pc
@include pcSize {
  .bg-color--blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 380px;
    line-height: 380px;
  }

  .works__motto--flex {
    display: flex;
    justify-content: center;
    align-items: center;

    &-item {
      width: 30%;
    }
  }
}

//responsive for middle size
@include middleSize {
  .bg-color--blue {
    width: 350px;
    height: 350px;
    line-height: 350px;
  }
}
