@import "variable", "mixin";

.link {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 10% 0 20%;

  h4 {
    display: inline-block;
    color: $secondary-pink;
    position: relative;

    &::after {
      @include guideLineW($secondary-pink, 0, 0);
      position: absolute;
      top: -120%;
      left: 22%;
      opacity: 0;
      visibility: hidden;
      transition: .3s ease-in;
    }

    &:hover::after {
      top: -80%;
      opacity: 1;
      visibility: visible;
    }
  }
}
