@import "mixin";

.works__images {
  text-align: center;

  &-img {
    display: inline-block;
    width: 100%;
    height: auto;
    background-color: #BEB9B9;
    border-radius: 5%;
    margin: 5% 0;
  }
}

@include pcSize {
  .works__images {
    &-img {
      display: inline-block;
      width: 70%;
    }
  }
}

@include middleSize {
  .works__images {
    &-img {
      width: 80%;
    }
  }
}