@import "variable", "mixin", "typography";

.works__introduction {
  width: 100%;
  padding: 10% 0;
  margin-top: 30%;
  background-color: $primary-pink;

  &__container {
    width: 80%;
    text-align: left;
    margin: 0 auto;

    h2 {
      display: inline-block;
      letter-spacing: 0.15em;
      padding-bottom: 10%;
    }

    .information {
      border-left: 5px solid $secondary-pink;
      padding-left: 5%;
      margin-bottom: 5%;

      p {
        line-height: 1.5em;
      }

      .icon {
        width: 10%;
        height: 30px;
        object-fit: cover;
        fill: $black;
        margin: 5% 2% 0 0;
      }
    }

    .description {
      font-weight: $font-weight-light;
      letter-spacing: 0.05em;
      line-height: 1.5em;
      font-size: $font-size-base-mb - 2px;
    }
  }

  button {
    display: block;
    width: 180px;
    height: 50px;
    padding: 9px 30px;
    margin: 8% auto 0 0;
    font-size: 20px;
    border: 2px solid $secondary-pink;
    border-radius: 20px;
    background-color: $secondary-pink;
    cursor: pointer;

    a {
      color: $white;
    }

    &:hover {
      background-color: $white;
      border: 2px solid $secondary-pink;
      transition: .3s ease-out;

      a {
        color: $secondary-pink;
      }
    }
  }
}

//responsive for PC
@include pcSize {
  .works__top {
    width: 100%;

    .kulkuri-top {
      @include workImgTop(url("https://suusan11.github.io/portfolio/images/works_images/kulkuri/works-top.png"));
      //for local server
      // @include workImgTop(url("../images/works_images/kulkuri/works-top.png"));
    }
    .wp-top {
      @include workImgTop(url("https://suusan11.github.io/portfolio/images/works_images/wp/works-top.png"));
      //for local server
      //@include workImgTop(url("../images/works_images/wp/works-top.png"));
    }
    .ui-top {
      @include workImgTop(url("https://suusan11.github.io/portfolio/images/works_images/uidesign/works-top.png"));
      //for local server
      //@include workImgTop(url("../images/works_images/uidesign/works-top.png"));
    }
    .mogu-top {
      @include workImgTop(url("https://suusan11.github.io/portfolio/images/works_images/mogu/works-top.png"));
      //for local server
      //@include workImgTop(url("../images/works_images/mogu/works-top.png"));
    }

    .works__introduction {
      width: 550px;
      height: auto;
      border-radius: 30px;
      padding: 5% 0;
      margin: 5% 0 0 10%;

      h2 {
        padding-bottom: 10%;
      }

      .information {
        border-left: 5px solid $secondary-pink;
        padding-left: 5%;
        margin-bottom: 5%;

        p {
          line-height: 1.5em;
        }
      }

      .description {
        font-weight: $font-weight-light;
        letter-spacing: 0.05em;
        font-size: $font-size-base-pc - 3px;
      }
    }
  }
}

//responsive for middle size
@include middleSize {
  .works__introduction {
    margin: 15% 0;

    h2 {
      font-size: $font-size-h2-pc;
      padding-bottom: 5%;
    }

    .information {
      padding-left: 3%;
      margin-bottom: 5%;

      p {
        font-size: $font-size-base-pc;
        line-height: 1.5em;
      }
    }

    .description {
      font-size: $font-size-base-pc - 3px;
    }
  }
}