@import "variable", "_typography", "mixin";
.works {
  padding-top: 25%;

  &__thumbnails {
    width: 100%;

    .thumbnail {
      display: flex;
      justify-content: flex-start;
      height: 250px;
      margin: 0 auto 30%;
      padding: 8% 0;

      a {
        width: 90%;
        height: 250px;
      }

      img {
        width: 90%;
        height: 250px;
        object-fit: cover;
        border-radius: 30px;
        margin-left: 8%;
      }

      p {
        font-weight: $font-weight-light;
        padding-top: 5px;
        @include vendorPrefix(writing-mode, vertical-rl);
        @include vendorPrefix(text-orientation, sideways);
      }

      &:hover img {
        opacity: 0.8;
      }
    }
  }
}


//responsive for PC
@include pcSize {
  .works {
    padding-top: 5%;

    .thumbnail {
      width: 70%;
      height: 150px;
      border-radius: 20px;
      margin-bottom: 13%;
      margin-left: auto;
      text-align: right;

      img {
        width: 80%;
        height: 150px;
        object-fit: cover;
        border-radius: 20px;
        cursor: pointer;
      }

      p {
        letter-spacing: 0.2em;
        padding-right: 2%;
      }

      &:hover img {
        opacity: 0.8;
      }
    }
  }
}


//responsive for until mb
@include middleSize {
  .works {
    padding-top: 13%;

    &__thumbnails {
      width: 90%;
      margin: 0 auto;

      .thumbnail {
        width: 70%;
        height: 150px;
        border-radius: 20px;
        padding: 0;
        margin: 0 0 20% auto;

        img {
          width: 100%;
          height: 150px;
          object-fit: cover;
          border-radius: 20px;
          cursor: pointer;
        }

        p {
          margin: 2% 5% 0 0;
        }
      }
    }
  }
}