@import "variable", "mixin", "typography";

.works__introduction {
  width: 100%;
  padding: 10% 0;
  margin-top: 30%;
  background-color: $primary-pink;

  &__container {
    width: 80%;
    text-align: left;
    margin: 0 auto;

    h2 {
      display: inline-block;
      letter-spacing: 0.15em;
      padding-bottom: 10%;
    }

    p {
      line-height: 24px;
    }
  }

  button {
    display: block;
    width: 180px;
    height: 50px;
    padding: 9px 30px;
    margin: 10% auto 0;
    font-size: 20px;
    font-weight: $font-weight-bold;
    color: $secondary-pink;
    border: 2px solid $secondary-pink;
    border-radius: 20px;
    background-color: $white;
    cursor: pointer;

    &:hover {
      color: $white;
      background-color: $secondary-pink;
      transition: .3s ease-out;
    }
  }
}

//responsive for PC
@include pcSize {
  .works__introduction {
    width: 550px;
    height: auto;
    border-radius: 30px;
    padding: 5% 0;
    margin-top: 15%;
    margin-left: 10%;

    .information {
      border-left: 5px solid $secondary-pink;
      padding-left: 5%;
      margin-bottom: 5%;

      p {
        line-height: 1.5em;
      }
    }

    .description {
      font-weight: $font-weight-light;
      letter-spacing: 0.05em;
    }
  }
}