@import "mixin";

.works__images {
  width: 100%;
  margin: 0 auto;
  text-align: center;

  .image__frame {
    width: 100%;
    height: auto;
    background-color: $bg-img;
    text-align: center;
    margin: 10% 0;

    img {
      width: 100%;
    }
  }
}


//responsive for pc
@include pcSize {
  .works__images {
    width: 85%;
    margin: 0 auto;

    .image__frame {
      border-radius: 30px;
      margin: 10% auto;

      img {
        width: 50%;
      }
    }
  }
}


//responsive for middle size
@include middleSize {
  .works__images {
    .image__frame {

      img {
        width: 60%;
      }
    }
  }
}