@import "variable", "_typography", "mixin";
.works {
  padding-top: 25%;

  &__thumbnails {
    width: 100%;
    margin: 10% 0;

    .thumbnail {
      width: 100%;
      height: 100%;
      margin: 0 auto;

      &.delighter {
        transition: all .5s ease-out;
        transform: translateY(30%);
        opacity: 0;
      }

      &.delighter.started {
        transform: none;
        opacity: 1;
      }

      a {
        width: 100%;
        height: 250px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      p {
        position: relative;
        font-weight: $font-weight-light;
        padding-top: 5px;
        @include vendorPrefix(writing-mode, vertical-rl);
        @include vendorPrefix(text-orientation, sideways);
      }

      &:hover img {
        opacity: 0.8;
      }

      &:hover p::after {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        z-index: -1;
        width: 100%;
        height: 50%;
        background: repeating-linear-gradient(-45deg, $black-opacity, $black-opacity 1px, white 2px, white 7px);
        border-radius: 30px;
        transition: .8s ease-in;
      }
    }
  }
}


//responsive for PC
@include pcSize {
  .works {
    padding: 5% 0;

    &__thumbnails--pc {
      width: 95%;
      margin: 0 auto;
      padding: 8% 0 0;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .thumbnail {
        position: relative;
        width: 480px;
        height: 100%;
        border-radius: 20px;
        display: flex;
        justify-content: flex-start;
        margin: 3px;

        &.delighter {
          transition: all .5s ease-out;
          transform: translateY(30%);
          opacity: 0;
        }

        &.delighter.started {
          transform: none;
          opacity: 1;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;
        }

        &:hover .detail__box {
          @include detailBox;
        }

        .detail__box {
          display: none;
        }
      }
    }
  }
}


//responsive for until mb
@include middleSize {
  .works {
    padding: 5% 0;
    margin-bottom: 0;

    &__thumbnails {
      margin: 50px 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      .thumbnail {
        width: 480px;
        height: 100%;

        &.delighter {
          transition: all .5s ease-out;
          transform: translateY(30%);
          opacity: 0;
        }

        &.delighter.started {
          transform: none;
          opacity: 1;
        }

        img {
          width: 100%;
          height: 100%;
        }

        p {
          padding-left: 2%;
        }

        &:hover p::after {
          right: 20%;
          width: 80%;
        }
      }
    }
  }
}