@import "variable", "typography", "mixin";

.works__style {
  width: 90%;
  margin: 0 auto;
  padding: 2% 0;
  border: 5px solid $primary-pink;
  border-radius: 30px;
  background-color: $white;

  &__flex {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__color, &__font {
    width: 80%;
    margin: 3% auto;
    text-align: left;

    h4 {
      display: inline-block;
      padding: 7% 0;
      margin-right: 7%;
    }

    .colors {
      width: 100%;

      span {
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: #FFFFFF;
        border: 1px solid $black;
        border-radius: 50%;
        margin: 3% 3% 0 0;
      }
    }

    .fonts {
      width: 100%;

      h2.font--lato {
        display: inline-block;
        font-family: "Lato", sans-serif;
        margin-right: 2%;
      }

      p {
        display: inline-block;
      }
    }
  }
}

@include pcSize {
  .works__style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 210px;
    margin: 0 auto;

    &__color, &__font {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;
    }
  }
}