/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Lato:300,400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Lato:300,400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Lato:300,400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Lato:300,400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Lato:300,400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Lato:300,400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Lato:300,400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Lato:300,400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Lato:300,400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Lato:300,400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Lato:300,400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Lato:300,400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,700|Lato:300,400,700" rel="stylesheet');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  list-style: none;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  background-color: #FFFFFF;
  width: 100%;
}

main {
  display: block;
}

section {
  margin: 5% 0;
}

@media (min-width: 1000px) {
  section {
    margin: 0;
  }
}

@media (min-width: 640px) and (max-width: 999px) {
  section {
    margin: 15% 0;
    padding-top: 10%;
  }
}

h1 {
  font-size: 1.875rem;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3em;
}

h2 {
  font-size: 1.562rem;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
}

h2.text--upright {
  display: inline-block;
  letter-spacing: 10px;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
  -moz-text-orientation: upright;
  -ms-text-orientation: upright;
  -o-text-orientation: upright;
  text-orientation: upright;
}

h3 {
  display: inline-block;
  font-size: 1.562rem;
}

@media (min-width: 1000px) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.25rem;
}

@media (min-width: 1000px) {
  h4 {
    font-size: 1.25rem;
  }
}

p {
  font-size: 16px;
}

@media (min-width: 1000px) {
  p {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

@media (min-width: 640px) and (max-width: 999px) {
  .container__pc {
    width: 80%;
    margin: 0 auto;
  }
}

.heading__left {
  text-align: left;
}

.heading__left h2.text--upright {
  position: relative;
  margin-top: 5%;
  padding-left: 80px;
}

.heading__left h2.text--upright::before {
  content: '';
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #FCECEA;
  margin: -25px 0 0 -70px;
  position: absolute;
  top: 0;
  z-index: -1;
}

.heading__left h2.text--upright::after {
  display: block;
  content: '';
  border-left: 3px solid #928484;
  height: 30px;
  margin: 110px 13px 0 0;
  position: absolute;
  bottom: 35%;
  right: 20px;
}

.heading__right {
  text-align: right;
}

.heading__right h2.text--upright {
  position: relative;
  margin-top: 5%;
  padding-right: 45px;
}

.heading__right h2.text--upright::before {
  content: '';
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #FCECEA;
  margin: -25px -70px 0 0;
  position: absolute;
  top: 0;
  right: 70px;
  z-index: -1;
}

.heading__right h2.text--upright::after {
  display: block;
  content: '';
  border-left: 3px solid #928484;
  height: 30px;
  margin: 110px 13px 0 0;
  position: absolute;
  bottom: 35%;
  right: 15px;
}

@media (min-width: 1000px) {
  .heading__right h2.text--upright {
    position: relative;
    padding-right: 70px;
  }
  .heading__right h2.text--upright::before {
    content: '';
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #FCECEA;
    margin: -25px -70px 0 0;
    position: absolute;
    top: 0;
    right: 100px;
    z-index: -1;
  }
  .heading__right h2.text--upright::after {
    display: block;
    content: '';
    border-left: 3px solid #928484;
    height: 30px;
    margin: 110px 13px 0 0;
    position: absolute;
    bottom: 35%;
    right: 40px;
  }
}

.heading__center {
  text-align: center;
}

.heading__center h2 {
  display: inline-block;
  position: relative;
  letter-spacing: 5px;
  line-height: 35px;
}

.heading__center h2::before {
  content: '';
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #FCECEA;
  margin: 0 0 0 0;
  position: absolute;
  top: -50px;
  left: 0;
  z-index: -1;
}

.heading__center h2::after {
  display: block;
  content: '';
  border-bottom: 3px solid #928484;
  width: 30px;
  margin: 18px auto 0;
}

@media (min-width: 1000px) {
  .heading__center h2::before {
    content: '';
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #FCECEA;
    margin: 0 0 0 0;
    position: absolute;
    top: -50px;
    left: -30px;
    z-index: -1;
  }
}

@media (min-width: 640px) and (max-width: 999px) {
  .heading__center h2::before {
    content: '';
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #FCECEA;
    margin: 0 0 0 0;
    position: absolute;
    top: -50px;
    left: -30px;
    z-index: -1;
  }
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.8);
}

header .header__flex {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  top: 30px;
  margin-right: 0;
}

header .header__flex--left {
  display: flex;
  align-items: center;
  width: 50%;
}

header .header__flex--left img {
  top: 50px;
  z-index: 10;
  width: 30px;
  height: 35px;
}

header .header__flex--left .header__text {
  display: none;
  margin-left: 5%;
  letter-spacing: 0.2rem;
  -webkit-transition: opacity 0.3s ease-in;
  -moz-transition: opacity 0.3s ease-in;
  -ms-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

header .header__flex--left .header__text.is-show {
  display: block;
}

header .header__flex--left.is-expand {
  width: 100%;
}

header .header__flex--right {
  width: 50%;
  height: 50px;
  text-align: right;
}

header .header__flex--right .nav-toggle {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

header .header__flex--right .nav-toggle span {
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 0;
  width: 60%;
  height: 3px;
  background-color: #928484;
  border-radius: 30px;
  -webkit-transition: 0.3s transform ease-out;
  -moz-transition: 0.3s transform ease-out;
  -ms-transition: 0.3s transform ease-out;
  -o-transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out;
}

header .header__flex--right .nav-toggle span::before {
  content: '';
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  top: 10px;
  background-color: #928484;
  border-radius: 30px;
  transition: transform 3s;
  -webkit-transition: 0.3s transform ease-out;
  -moz-transition: 0.3s transform ease-out;
  -ms-transition: 0.3s transform ease-out;
  -o-transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out;
}

header .header__flex--right .nav-toggle span::after {
  content: '';
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  top: 20px;
  background-color: #928484;
  border-radius: 30px;
  transition: transform 3s;
  -webkit-transition: 0.3s transform ease-out;
  -moz-transition: 0.3s transform ease-out;
  -ms-transition: 0.3s transform ease-out;
  -o-transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out;
}

header .header__flex--right .nav-toggle.open span {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

header .header__flex--right .nav-toggle.open span::before {
  -webkit-transform: translateX(-5px);
  -moz-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  -o-transform: translateX(-5px);
  transform: translateX(-5px);
}

header .header__flex--right .nav-toggle.open span::after {
  -webkit-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -o-transform: translateX(-10px);
  transform: translateX(-10px);
}

header .header__flex--right.is-hide {
  display: none;
}

@media (min-width: 1000px) {
  header .header__flex--left .header__text {
    margin-left: 3%;
  }
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.global-nav {
  visibility: hidden;
  width: 80px;
  margin-top: -5px;
  margin-left: auto;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: 0.5s transform ease-out;
  -moz-transition: 0.5s transform ease-out;
  -ms-transition: 0.5s transform ease-out;
  -o-transition: 0.5s transform ease-out;
  transition: 0.5s transform ease-out;
}

.global-nav li {
  display: inline-block;
  width: 100%;
  font-size: 15px;
  font-weight: 300;
  padding: 15% 0;
}

.global-nav li a {
  color: #545454;
}

.global-nav li a:hover {
  opacity: 0.5;
}

.global-nav.open {
  visibility: visible;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

@media (min-width: 1000px) {
  .global-nav {
    width: 100px;
  }
  .global-nav li {
    padding: 20% 0;
  }
}

@media (min-width: 640px) and (max-width: 999px) {
  .global-nav {
    width: 100px;
  }
  .global-nav li {
    padding: 20% 0;
  }
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.bg-color--pink {
  background-color: rgba(252, 236, 234, 0.5);
  position: relative;
}

.hero {
  width: 100%;
  min-height: 670px;
  margin-top: 0;
  padding-top: 300px;
}

.hero__txt h1 {
  display: inline-block;
  width: 100%;
  text-align: center;
  -webkit-animation: textShadow 0.8s 2s forwards ease-in;
  -moz-animation: textShadow 0.8s 2s forwards ease-in;
  -ms-animation: textShadow 0.8s 2s forwards ease-in;
  -o-animation: textShadow 0.8s 2s forwards ease-in;
  animation: textShadow 0.8s 2s forwards ease-in;
  padding-bottom: 32px;
}

@-webkit-keyframes textShadow {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 5px 2px 7px rgba(138, 124, 124, 0.4);
  }
}

@-o-keyframes textShadow {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 5px 2px 7px rgba(138, 124, 124, 0.4);
  }
}

@keyframes textShadow {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 5px 2px 7px rgba(138, 124, 124, 0.4);
  }
}

.hero__txt span {
  display: inline-block;
  -webkit-transform: translateY(-1000px);
  -moz-transform: translateY(-1000px);
  -ms-transform: translateY(-1000px);
  -o-transform: translateY(-1000px);
  transform: translateY(-1000px);
}

.hero__txt span:nth-child(3) {
  padding-right: 2%;
}

.hero__txt span.fallDown {
  -webkit-animation: fallDown 1s forwards ease-in;
  -moz-animation: fallDown 1s forwards ease-in;
  -ms-animation: fallDown 1s forwards ease-in;
  -o-animation: fallDown 1s forwards ease-in;
  animation: fallDown 1s forwards ease-in;
}

@-webkit-keyframes fallDown {
  0% {
    -webkit-transform: translateY(-1000px);
    -moz-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    -o-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  50% {
    -webkit-transform: translateY(-500px);
    -moz-transform: translateY(-500px);
    -ms-transform: translateY(-500px);
    -o-transform: translateY(-500px);
    transform: translateY(-500px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes fallDown {
  0% {
    -webkit-transform: translateY(-1000px);
    -moz-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    -o-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  50% {
    -webkit-transform: translateY(-500px);
    -moz-transform: translateY(-500px);
    -ms-transform: translateY(-500px);
    -o-transform: translateY(-500px);
    transform: translateY(-500px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fallDown {
  0% {
    -webkit-transform: translateY(-1000px);
    -moz-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    -o-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  50% {
    -webkit-transform: translateY(-500px);
    -moz-transform: translateY(-500px);
    -ms-transform: translateY(-500px);
    -o-transform: translateY(-500px);
    transform: translateY(-500px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

.hero__txt h2 {
  opacity: 0;
  text-align: center;
  letter-spacing: 0.15em;
  color: #EE817B;
  text-shadow: 5px 2px 7px rgba(212, 115, 109, 0.4);
  padding-bottom: 10px;
  -webkit-animation: showDelay 0.8s 2s forwards ease-in;
  -moz-animation: showDelay 0.8s 2s forwards ease-in;
  -ms-animation: showDelay 0.8s 2s forwards ease-in;
  -o-animation: showDelay 0.8s 2s forwards ease-in;
  animation: showDelay 0.8s 2s forwards ease-in;
}

@-webkit-keyframes showDelay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes showDelay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showDelay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1000px) {
  .hero {
    min-height: 800px;
    text-align: center;
  }
  .hero__txt {
    text-align: center;
  }
  .hero__txt h1 {
    font-size: 2.5rem;
    width: 80%;
  }
  .hero__txt h2 {
    font-size: 2rem;
  }
}

@media (min-width: 640px) and (max-width: 999px) {
  .hero {
    min-height: 800px;
  }
  .hero__txt h1 {
    font-size: 2.5rem;
  }
  .hero__txt h2 {
    font-size: 2rem;
  }
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.works {
  padding-top: 25%;
}

.works__thumbnails {
  width: 100%;
}

.works__thumbnails .thumbnail {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 250px;
  margin: 0 auto 30%;
  padding: 8% 0;
}

.works__thumbnails .thumbnail a {
  width: 90%;
  height: 250px;
}

.works__thumbnails .thumbnail img {
  width: 90%;
  height: 250px;
  object-fit: cover;
  border-radius: 30px;
  margin-left: 8%;
}

.works__thumbnails .thumbnail p {
  position: relative;
  font-weight: 300;
  padding-top: 5px;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  -o-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: sideways;
  -moz-text-orientation: sideways;
  -ms-text-orientation: sideways;
  -o-text-orientation: sideways;
  text-orientation: sideways;
}

.works__thumbnails .thumbnail:hover img {
  opacity: 0.8;
}

.works__thumbnails .thumbnail:hover p::after {
  content: '';
  position: absolute;
  top: 0;
  right: 50%;
  z-index: -1;
  width: 100%;
  height: 50%;
  background: repeating-linear-gradient(-45deg, rgba(84, 84, 84, 0.3), rgba(84, 84, 84, 0.3) 1px, white 2px, white 7px);
  border-radius: 30px;
  transition: .8s ease-in;
}

@media (min-width: 1000px) {
  .works {
    padding-top: 5%;
  }
  .works__thumbnails--pc {
    width: 80%;
    margin: 0 auto;
    padding: 8% 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .works__thumbnails--pc .thumbnail {
    width: 45%;
    height: 300px;
    border-radius: 20px;
    margin-bottom: 13%;
    margin-left: auto;
    display: flex;
    justify-content: flex-start;
  }
  .works__thumbnails--pc .thumbnail img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
  }
  .works__thumbnails--pc .thumbnail p {
    position: relative;
    font-weight: 300;
    letter-spacing: 0.1em;
    padding-top: 5px;
    padding-left: 2%;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: vertical-rl;
    -o-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    -webkit-text-orientation: sideways;
    -moz-text-orientation: sideways;
    -ms-text-orientation: sideways;
    -o-text-orientation: sideways;
    text-orientation: sideways;
  }
  .works__thumbnails--pc .thumbnail:hover img {
    opacity: 0.8;
  }
  .works__thumbnails--pc .thumbnail:hover p::after {
    content: '';
    position: absolute;
    top: 5px;
    right: 30%;
    z-index: -1;
    width: 80%;
    height: 30%;
    background: repeating-linear-gradient(-45deg, rgba(84, 84, 84, 0.3), rgba(84, 84, 84, 0.3) 1px, white 2px, white 7px);
    border-radius: 30px;
    transition: .8s ease-in;
  }
}

@media (min-width: 640px) and (max-width: 999px) {
  .works__thumbnails .thumbnail {
    width: 50%;
    height: 300px;
    margin: 0 auto 10%;
  }
  .works__thumbnails .thumbnail img {
    width: 100%;
    height: 300px;
    margin-left: 0;
  }
  .works__thumbnails .thumbnail p {
    padding-left: 2%;
  }
  .works__thumbnails .thumbnail:hover p::after {
    right: 20%;
    width: 80%;
  }
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.values .grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 150px auto 150px auto 150px auto 150px auto;
  text-align: center;
}

.values .grid__circle--row1 {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px inset #B2E0F2;
  margin: 0 auto;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.values .grid__circle--row3 {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px inset #96DADB;
  margin: 0 auto;
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
}

.values .grid__circle--row5 {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px inset #ABBAF9;
  margin: 0 auto;
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
}

.values .grid__circle--row7 {
  display: inline-block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px inset #B2A3E5;
  margin: 0 auto;
  grid-column: 2 / span 1;
  grid-row: 7 / span 1;
}

.values .icon {
  width: 3.5rem;
  height: 3.5rem;
  margin: 25% 0 0 5%;
  fill: currentColor;
}

.values .icon--scale {
  width: 4rem;
  height: 4rem;
  margin: 25% auto;
  fill: currentColor;
}

.values h4 {
  padding: 15px 0 40px;
  font-weight: 300;
}

.values .grid__text--row2 {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
}

.values .grid__text--row4 {
  grid-column: 1 / span 3;
  grid-row: 4 / span 1;
}

.values .grid__text--row6 {
  grid-column: 1 / span 3;
  grid-row: 6 / span 1;
}

.values .grid__text--row8 {
  grid-column: 1 / span 3;
  grid-row: 8 / span 1;
}

@media (min-width: 1000px) {
  .values .grid {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 5fr 1fr;
    grid-template-rows: 150px auto 50px 150px auto;
    text-align: center;
  }
  .values .grid__circle--row1 {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px inset #96DADB;
    margin: 0 auto;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  .values .grid__circle--row3 {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px inset #96DADB;
    margin: 0 auto;
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
  }
  .values .grid__circle--row5 {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px inset #96DADB;
    margin: 0 auto;
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
  }
  .values .grid__circle--row7 {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px inset #96DADB;
    margin: 0 auto;
    grid-column: 4 / span 1;
    grid-row: 4 / span 1;
  }
  .values .grid__text--row2 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }
  .values .grid__text--row4 {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
  }
  .values .grid__text--row6 {
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
  }
  .values .grid__text--row8 {
    grid-column: 4 / span 1;
    grid-row: 5 / span 1;
  }
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.about {
  min-height: 1000px;
}

.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px 200px 100px 200px;
}

.about__container .profile-img {
  width: 250px;
  border-radius: 50% 40% 50% 50%/50% 50% 50% 40%;
  z-index: 3;
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
}

.about__container--blue-box {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(178, 224, 242, 0.9);
  margin-left: -20%;
  grid-column: 3 / span 2;
  grid-row: 2 / span 1;
}

.about__container--blue-text {
  margin-top: 30%;
  padding-left: 5%;
  z-index: 3;
  grid-column: 1 / span 4;
  grid-row: 2 / span 1;
}

.about__container--pink-box {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(252, 236, 234, 0.5);
  grid-column: 1 / span 2;
  grid-row: 4 / span 2;
}

.about__container--pink-text {
  margin-top: 30%;
  margin-left: -30%;
  grid-column: 3 / span 3;
  grid-row: 4 / span 2;
}

.about__container .p__font--light {
  display: inline-block;
  font-weight: 300;
  line-height: 2em;
}

.about__container .p__font--light span {
  font-weight: 700;
  font-size: 1.875rem;
  padding-right: 2px;
}

@media (min-width: 1000px) {
  .about {
    min-height: 1400px;
  }
  .about__container {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr 1fr 2fr 1fr 3fr;
    grid-template-rows: 250px 200px 100px 200px 150px;
  }
  .about__container .profile-img {
    width: 250px;
    border-radius: 50% 40% 50% 50%/50% 50% 50% 40%;
    z-index: 3;
    grid-column: 3 / span 3;
    grid-row: 1 / span 2;
  }
  .about__container--blue-box {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: rgba(178, 224, 242, 0.9);
    grid-column: 5 / span 3;
    grid-row: 2 / span 2;
    margin-left: 10%;
    margin-top: -10%;
  }
  .about__container--blue-text {
    margin-top: 10%;
    padding-left: 20%;
    z-index: 3;
    grid-column: 3 / span 4;
    grid-row: 2 / span 2;
  }
  .about__container--pink-box {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-color: rgba(252, 236, 234, 0.5);
    grid-column: 2 / span 3;
    grid-row: 4 / span 2;
    margin-left: -20%;
  }
  .about__container--pink-text {
    margin-top: 10%;
    margin-left: 15%;
    grid-column: 2 / span 4;
    grid-row: 4 / span 2;
  }
}

@media (min-width: 640px) and (max-width: 999px) {
  .about__container {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr 2fr 3fr;
    grid-template-rows: 250px 200px 100px 200px 150px;
  }
  .about__container .profile-img {
    width: 250px;
    border-radius: 50% 40% 50% 50%/50% 50% 50% 40%;
    z-index: 3;
    margin-left: -20%;
    grid-column: 2 / span 3;
    grid-row: 1 / span 2;
  }
  .about__container--blue-box {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(178, 224, 242, 0.9);
    grid-column: 4 / span 2;
    grid-row: 2 / span 2;
  }
  .about__container--blue-text {
    margin-top: 20%;
    padding-left: 5%;
    z-index: 3;
    grid-column: 2 / span 3;
    grid-row: 2 / span 2;
  }
  .about__container--pink-box {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(252, 236, 234, 0.5);
    margin-left: -50%;
    grid-column: 2 / span 2;
    grid-row: 4 / span 2;
  }
  .about__container--pink-text {
    margin-top: 30%;
    margin-left: 5%;
    grid-column: 2 / span 3;
    grid-row: 4 / span 2;
  }
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.contact {
  text-align: center;
  padding-top: 25%;
}

.contact__text {
  margin: 50px auto 30px;
  width: 70%;
  line-height: 35px;
  font-weight: 300;
}

.icon--bg-pink {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  border: 3px solid transparent;
  background-color: #EE817B;
  margin: 0 auto;
}

.icon--bg-pink img {
  width: 40px;
  padding: 17px 0;
}

.icon--bg-pink:hover {
  opacity: 0.8;
  filter: none;
}

@media (min-width: 1000px) {
  .contact {
    padding-top: 0;
    margin-bottom: 10%;
  }
  .contact__text {
    line-height: 50px;
  }
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

footer {
  border-top: 1px solid #928484;
  text-align: center;
}

footer .sns {
  display: inline-block;
  margin: 30px auto;
}

footer .sns .icon {
  width: 18px;
  height: 18px;
  margin: 0 10px;
  stroke-width: 0;
  fill: #545454;
}

footer .sns .icon:hover {
  opacity: 0.5;
}

footer p {
  font-size: 0.65rem;
  margin-bottom: 30px;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.works__introduction {
  width: 100%;
  padding: 10% 0;
  margin-top: 30%;
  background-color: #FCECEA;
}

.works__introduction__container {
  width: 80%;
  text-align: left;
  margin: 0 auto;
}

.works__introduction__container h2 {
  display: inline-block;
  letter-spacing: 0.15em;
  padding-bottom: 10%;
}

.works__introduction__container .information {
  border-left: 5px solid #EE817B;
  padding-left: 5%;
  margin-bottom: 5%;
}

.works__introduction__container .information p {
  line-height: 1.5em;
}

.works__introduction__container .description {
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: 1.5em;
  font-size: 14px;
}

.works__introduction button {
  display: block;
  width: 180px;
  height: 50px;
  padding: 9px 30px;
  margin: 10% auto 0;
  font-size: 20px;
  font-weight: 700;
  color: #EE817B;
  border: 2px solid #EE817B;
  border-radius: 20px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.works__introduction button:hover {
  color: #FFFFFF;
  background-color: #EE817B;
  transition: .3s ease-out;
}

@media (min-width: 1000px) {
  .works__introduction {
    width: 550px;
    height: auto;
    border-radius: 30px;
    padding: 5% 0;
    margin-top: 15%;
    margin-left: 10%;
  }
  .works__introduction h2 {
    padding-bottom: 10%;
  }
  .works__introduction .information {
    border-left: 5px solid #EE817B;
    padding-left: 5%;
    margin-bottom: 5%;
  }
  .works__introduction .information p {
    line-height: 1.5em;
  }
  .works__introduction .description {
    font-weight: 300;
    letter-spacing: 0.05em;
    font-size: 17px;
  }
}

@media (min-width: 640px) and (max-width: 999px) {
  .works__introduction {
    margin: 15% 0;
  }
  .works__introduction h2 {
    font-size: 2rem;
    padding-bottom: 5%;
  }
  .works__introduction .information {
    padding-left: 3%;
    margin-bottom: 5%;
  }
  .works__introduction .information p {
    font-size: 20px;
    line-height: 1.5em;
  }
  .works__introduction .description {
    font-size: 17px;
  }
}

.works__images {
  width: 100%;
  margin: 0 auto;
}

.works__images img {
  width: 100%;
  margin-bottom: 10%;
}

@media (min-width: 1000px) {
  .works__images {
    width: 85%;
    margin: 0 auto;
  }
  .works__images img {
    width: 90%;
    margin-bottom: 10%;
  }
}

@media (min-width: 640px) and (max-width: 999px) {
  .works__images {
    width: 90%;
  }
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.works__style {
  width: 90%;
  margin: 0 auto;
  padding: 2% 0;
  border: 5px solid #FCECEA;
  border-radius: 30px;
  background-color: #FFFFFF;
}

.works__style__flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works__style__color, .works__style__font {
  width: 80%;
  margin: 3% auto;
  text-align: left;
}

.works__style__color h4, .works__style__font h4 {
  display: inline-block;
  padding: 7% 0;
  margin-right: 7%;
}

.works__style__color .colors, .works__style__font .colors {
  width: 100%;
}

.works__style__color .colors span, .works__style__font .colors span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid #545454;
  border-radius: 50%;
  margin: 3% 3% 0 0;
}

.works__style__color .fonts, .works__style__font .fonts {
  width: 100%;
}

.works__style__color .fonts h2.font--lato, .works__style__font .fonts h2.font--lato {
  display: inline-block;
  font-family: "Lato", sans-serif;
  margin-right: 2%;
}

.works__style__color .fonts p, .works__style__font .fonts p {
  display: inline-block;
}

@media (min-width: 1000px) {
  .works__style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 210px;
    margin: 0 auto;
  }
  .works__style__color, .works__style__font {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
}

.works__link {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 15% 0 20%;
}

.works__link h4 {
  display: inline-block;
  color: #EE817B;
}

.works__link h4::after {
  display: block;
  content: '';
  border-bottom: 3px solid #EE817B;
  width: 30px;
  margin: 20% auto 0;
}

@media (min-width: 1000px) {
  .works__link {
    justify-content: space-around;
  }
  .works__link h4 {
    position: relative;
  }
  .works__link h4::after {
    display: block;
    content: '';
    border-bottom: 3px solid #EE817B;
    width: 30px;
    margin: 0 auto 0;
    position: absolute;
    top: -120%;
    left: 22%;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in;
  }
  .works__link h4:hover::after {
    top: -60%;
    opacity: 1;
    visibility: visible;
  }
}

.bg-color--blue {
  width: 280px;
  height: 300px;
  background-color: rgba(178, 224, 242, 0.9);
  position: relative;
  margin: 10% auto;
  padding: 0 2%;
  text-align: center;
  line-height: 300px;
}

.bg-color--blue:nth-child(1) {
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}

.bg-color--blue:nth-child(2) {
  border-radius: 80% 30% 50% 70%/50%;
}

.bg-color--blue:nth-child(3) {
  border-radius: 40% 40% 50% 40%/30% 50% 40% 50%;
}

.bg-color--blue img {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: -1;
}

.bg-color--blue p {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

@media (min-width: 1000px) {
  .bg-color--blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 380px;
    line-height: 380px;
  }
  .works__motto--flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .works__motto--flex-item {
    width: 30%;
  }
}

@media (min-width: 640px) and (max-width: 999px) {
  .bg-color--blue {
    width: 350px;
    height: 350px;
    line-height: 350px;
  }
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.about__part {
  width: 100%;
  background-color: #FCECEA;
  margin-top: 30%;
  padding: 5% 0;
}

.about__part h2 {
  font-size: 1.562rem;
  padding-bottom: 5%;
}

.about__part__flex {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: left;
}

.about__part__flex-item {
  width: 80%;
  margin: 10% auto;
  opacity: 0;
}

.about__part__flex-item:nth-child(1) {
  -webkit-animation: scrollIn 1s forwards;
  -moz-animation: scrollIn 1s forwards;
  -ms-animation: scrollIn 1s forwards;
  -o-animation: scrollIn 1s forwards;
  animation: scrollIn 1s forwards;
}

.about__part__flex-item:nth-child(2) {
  -webkit-animation: scrollIn 1s 1s forwards;
  -moz-animation: scrollIn 1s 1s forwards;
  -ms-animation: scrollIn 1s 1s forwards;
  -o-animation: scrollIn 1s 1s forwards;
  animation: scrollIn 1s 1s forwards;
}

.about__part__flex-item:nth-child(3) {
  -webkit-animation: scrollIn 1s 2s forwards;
  -moz-animation: scrollIn 1s 2s forwards;
  -ms-animation: scrollIn 1s 2s forwards;
  -o-animation: scrollIn 1s 2s forwards;
  animation: scrollIn 1s 2s forwards;
}

.about__part__flex-item:nth-child(4) {
  -webkit-animation: scrollIn 1s 3s forwards;
  -moz-animation: scrollIn 1s 3s forwards;
  -ms-animation: scrollIn 1s 3s forwards;
  -o-animation: scrollIn 1s 3s forwards;
  animation: scrollIn 1s 3s forwards;
}

.about__part__flex-item .icon--bg-white {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  border: 3px solid #EE817B;
  background-color: #FFFFFF;
  margin: 0 auto;
  margin: 3% auto;
}

.about__part__flex-item .icon--bg-white .icon {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  stroke-width: 0;
  stroke: #FFFFFF;
  fill: #EE817B;
  margin: 17% 22%;
}

.about__part__flex-item p {
  font-size: 16px;
  font-weight: 300;
  line-height: 200%;
  letter-spacing: 1px;
  margin-top: 10%;
}

@-webkit-keyframes scrollIn {
  from {
    -webkit-transform: translateY(500px);
    -moz-transform: translateY(500px);
    -ms-transform: translateY(500px);
    -o-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-o-keyframes scrollIn {
  from {
    -webkit-transform: translateY(500px);
    -moz-transform: translateY(500px);
    -ms-transform: translateY(500px);
    -o-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scrollIn {
  from {
    -webkit-transform: translateY(500px);
    -moz-transform: translateY(500px);
    -ms-transform: translateY(500px);
    -o-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1000px) {
  .about__part {
    padding: 0;
    margin-top: 10%;
  }
  .about__part h2 {
    padding: 3% 0 0 0;
  }
  .about__part__flex {
    justify-content: space-around;
  }
  .about__part__flex-item {
    width: 26%;
    opacity: 0;
  }
  .about__part__flex-item:nth-child(1) {
    -webkit-animation: scrollIn 1s forwards;
    -moz-animation: scrollIn 1s forwards;
    -ms-animation: scrollIn 1s forwards;
    -o-animation: scrollIn 1s forwards;
    animation: scrollIn 1s forwards;
  }
  .about__part__flex-item:nth-child(2) {
    -webkit-animation: scrollIn 1s 1s forwards;
    -moz-animation: scrollIn 1s 1s forwards;
    -ms-animation: scrollIn 1s 1s forwards;
    -o-animation: scrollIn 1s 1s forwards;
    animation: scrollIn 1s 1s forwards;
  }
  .about__part__flex-item:nth-child(3) {
    -webkit-animation: scrollIn 1s 2s forwards;
    -moz-animation: scrollIn 1s 2s forwards;
    -ms-animation: scrollIn 1s 2s forwards;
    -o-animation: scrollIn 1s 2s forwards;
    animation: scrollIn 1s 2s forwards;
  }
  .about__part__flex-item:nth-child(4) {
    -webkit-animation: scrollIn 1s 3s forwards;
    -moz-animation: scrollIn 1s 3s forwards;
    -ms-animation: scrollIn 1s 3s forwards;
    -o-animation: scrollIn 1s 3s forwards;
    animation: scrollIn 1s 3s forwards;
  }
  .about__part__flex-item .icon--bg-white {
    width: 90px;
    height: 90px;
    border-radius: 30px;
    border: 3px solid #EE817B;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin: 0 auto;
  }
  .about__part__flex-item .icon--bg-white:hover {
    background-color: #EE817B;
    filter: none;
  }
  .about__part__flex-item .icon--bg-white:hover .icon {
    fill: #FFFFFF;
  }
  .about__part__flex-item .icon--bg-white:hover .icon-piano {
    stroke: #FFFFFF;
  }
  .about__part__flex-item p {
    font-size: 20px;
    text-align: left;
    line-height: 170%;
    letter-spacing: 0.5px;
  }
  @-webkit-keyframes scrollIn {
    from {
      -webkit-transform: translateY(500px);
      -moz-transform: translateY(500px);
      -ms-transform: translateY(500px);
      -o-transform: translateY(500px);
      transform: translateY(500px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  @-o-keyframes scrollIn {
    from {
      -webkit-transform: translateY(500px);
      -moz-transform: translateY(500px);
      -ms-transform: translateY(500px);
      -o-transform: translateY(500px);
      transform: translateY(500px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes scrollIn {
    from {
      -webkit-transform: translateY(500px);
      -moz-transform: translateY(500px);
      -ms-transform: translateY(500px);
      -o-transform: translateY(500px);
      transform: translateY(500px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@media (min-width: 640px) and (max-width: 999px) {
  .about__part {
    margin-top: 10%;
  }
  .about__part__flex {
    justify-content: space-around;
  }
  .about__part__flex-item {
    width: 80%;
  }
  .about__part__flex-item .icon--bg-white {
    margin: 0 auto;
  }
  .about__part__flex-item p {
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-top: 5%;
  }
}
