/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,700" rel="stylesheet');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  list-style: none;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  background-color: #FFFFFF;
  width: 100%;
  padding-top: 150px;
}

main {
  display: block;
}

section {
  margin: 35% 0;
}

@media (min-width: 1000px) {
  section {
    margin: 20% 0;
  }
}

h1 {
  font-size: 1.875rem;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3em;
}

h2 {
  font-size: 1.562rem;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
}

h2.text--upright {
  display: inline-block;
  letter-spacing: 10px;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
  text-orientation: upright;
}

h3 {
  display: inline-block;
  font-size: 1.562rem;
}

h4 {
  font-size: 1.25rem;
}

p {
  font-family: 16px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.heading__left {
  text-align: left;
}

.heading__left h2.text--upright {
  padding-left: 30px;
}

@media (min-width: 1000px) {
  .heading__left h2.text--upright {
    padding-left: 50px;
  }
}

.heading__left h2.text--upright::before {
  content: '';
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #FCECEA;
  margin: -25px 0 0 -70px;
}

.heading__left h2.text--upright::after {
  display: block;
  content: '';
  border-left: 3px solid #928484;
  height: 30px;
  margin: 110px 13px 0 0;
}

.heading__right {
  text-align: right;
}

.heading__right h2.text--upright {
  display: inline-block;
  position: relative;
  padding-right: 45px;
}

.heading__right h2.text--upright::before {
  content: '';
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #FCECEA;
  margin: -25px -70px 0 0;
  position: absolute;
  top: 0;
  right: 70px;
  z-index: -1;
}

.heading__right h2.text--upright::after {
  display: block;
  content: '';
  border-left: 3px solid #928484;
  height: 30px;
  margin: 110px 13px 0 0;
  position: absolute;
  bottom: 35%;
  right: 15px;
}

@media (min-width: 1000px) {
  .heading__right h2.text--upright {
    display: inline-block;
    position: relative;
    padding-right: 70px;
  }
  .heading__right h2.text--upright::before {
    content: '';
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #FCECEA;
    margin: -25px -70px 0 0;
    position: absolute;
    top: 0;
    right: 100px;
    z-index: -1;
  }
  .heading__right h2.text--upright::after {
    display: block;
    content: '';
    border-left: 3px solid #928484;
    height: 30px;
    margin: 110px 13px 0 0;
    position: absolute;
    bottom: 35%;
    right: 40px;
  }
}

.heading__center {
  text-align: center;
}

.heading__center h2 {
  display: inline-block;
  position: relative;
}

.heading__center h2::before {
  content: '';
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #FCECEA;
  margin: 0 0 0 0;
  position: absolute;
  top: -50px;
  left: -30px;
  z-index: -1;
}

.heading__center h2::after {
  display: block;
  content: '';
  border-bottom: 3px solid #928484;
  width: 30px;
  margin: 18px auto 0;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

header {
  position: fixed;
  top: 10px;
  width: 100%;
  z-index: 10;
}

header .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .flex img {
  width: 30px;
  height: 35px;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.global-menu {
  display: block;
  right: 2%;
  z-index: 1;
  height: 100px;
}

.global-menu .nav-toggle {
  position: relative;
  top: 30%;
  right: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.global-menu .nav-toggle span {
  display: block;
  position: absolute;
  top: 46%;
  right: 0;
  width: 30px;
  height: 3px;
  background-color: #928484;
  z-index: 10;
}

.global-menu .nav-toggle span::before {
  display: block;
  content: '';
  width: 30px;
  height: 3px;
  background-color: #928484;
  margin-top: -10px;
}

.global-menu .nav-toggle span::after {
  display: block;
  content: '';
  width: 30px;
  height: 3px;
  background-color: #928484;
  margin-top: 17px;
}

.nav-list {
  display: none;
  position: absolute;
  top: -40px;
  right: -200px;
  width: 50%;
  height: 650px;
  padding: 5%;
  line-height: 70px;
  border-radius: 50%;
  font-family: "Dosis", sans-serif;
  background-color: #EE817B;
  text-align: center;
}

.nav-list:nth-child(1) {
  width: 10px;
}

.nav-list.open {
  display: block;
  -webkit-animation: showNav .5s;
  -o-animation: showNav .5s;
  animation: showNav .5s;
}

@keyframes showNav {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.hero {
  margin-top: 0;
}

.hero h1 {
  text-align: center;
  padding-bottom: 32px;
}

.hero h2 {
  text-align: center;
  color: #EE817B;
  padding-bottom: 10px;
}

.hero img {
  display: block;
  margin: 54px auto;
  width: 70%;
}

@media (min-width: 1000px) {
  .hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero__flex--left, .hero__flex--right {
    width: 40%;
  }
  .hero__flex--left h1, .hero__flex--right h1 {
    font-size: 2.5rem;
  }
  .hero__flex--left h2, .hero__flex--right h2 {
    font-size: 2rem;
  }
}

.works__thumbnails {
  width: 100%;
}

.works__thumbnails .thumbnail {
  padding: 8% 0;
}

.works__thumbnails .thumbnail img {
  width: 100%;
}

.works__thumbnails .thumbnail p {
  padding: 5px 0 0 5px;
}

@media (min-width: 1000px) {
  .thumbnail {
    padding: 8% 0;
    text-align: right;
  }
  .thumbnail img {
    width: 90%;
    height: 250px;
    border-radius: 3%;
  }
  .thumbnail p {
    text-align: left;
    margin-left: 10%;
  }
}

.motto__block {
  width: 90%;
  height: auto;
  position: relative;
  background-color: #7ECEFC;
  padding: 20px 20px 40px;
  margin: 15% auto;
  text-align: center;
}

.motto__block:nth-child(1)::before {
  content: url("../images/inspire.svg");
  display: block;
  width: 100px;
  margin: 0 auto;
}

.motto__block:nth-child(2)::before {
  content: url("../images/concept.svg");
  display: block;
  width: 100px;
  margin: 0 auto;
}

.motto__block:nth-child(3)::before {
  content: url("../images/clear.svg");
  display: block;
  width: 100px;
  margin: 0 auto;
}

.motto__block h3 {
  color: #FFFFFF;
  padding: 50px 0 20px;
}

.motto__block p {
  line-height: 30px;
}

@media (min-width: 1000px) {
  .motto__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .motto__flex .motto__block {
    width: 30%;
    height: 430px;
    border-radius: 5%;
    margin: 10% auto;
  }
  .motto__flex .motto__block:nth-child(1)::before {
    content: url("../images/inspire.svg");
    display: block;
    width: 100px;
    margin: 0 auto;
  }
  .motto__flex .motto__block:nth-child(2)::before {
    content: url("../images/concept.svg");
    display: block;
    width: 100px;
    margin: 0 auto;
  }
  .motto__flex .motto__block:nth-child(3)::before {
    content: url("../images/clear.svg");
    display: block;
    width: 100px;
    margin: 0 auto;
  }
}

div.text__container {
  margin: 15px 0;
}

div.text__container p {
  display: inline;
  line-height: 2em;
  padding: 3px;
  background-color: #FCECEA;
}

div.text__container p.bg-color--secondpink {
  background-color: #EE817B;
  color: #FFFFFF;
}

.text__right {
  text-align: right;
}

.text__right h3::after {
  display: block;
  content: '';
  border-bottom: 3px solid #928484;
  width: 30px;
  margin: 18px auto 34px;
}

.text__left {
  text-align: left;
}

.about {
  text-align: center;
}

.about img {
  width: 50%;
  border-radius: 50%;
  margin: 3% 0;
}

.contact {
  text-align: center;
}

.contact__text {
  margin: 50px auto 30px;
  width: 70%;
  line-height: 50px;
}

.icon--bg-pink {
  width: 80px;
  height: 80px;
  border-radius: 30%;
  background-color: #EE817B;
  margin: 0 auto;
}

.icon--bg-pink img {
  width: 40px;
  padding: 20px 0;
}

.icon--bg-pink:hover {
  opacity: 0.8;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

footer {
  border-top: 1px solid #928484;
  text-align: center;
}

footer .sns {
  display: inline-block;
  margin: 30px auto;
}

footer .sns .icon {
  width: 18px;
  height: 18px;
  margin: 0 10px;
  stroke-width: 0;
  fill: #545454;
}

footer p {
  font-size: 0.65rem;
  margin-bottom: 30px;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.bg-color--primarypink {
  width: 100%;
  padding: 10% 0;
  background-color: #FCECEA;
}

.introduction {
  margin-top: 0;
}

.introduction__container {
  width: 80%;
  text-align: left;
  margin: 0 auto;
}

.introduction__container h1 {
  display: inline-block;
  padding-bottom: 10%;
}

.introduction__container h1::after {
  display: block;
  content: '';
  border-bottom: 3px solid #928484;
  width: 30px;
  margin: 12px auto 12px;
}

.introduction__container p {
  line-height: 24px;
}

.introduction button {
  display: block;
  width: 180px;
  height: 50px;
  padding: 9px 30px;
  margin: 10% auto 0;
  font-size: 20px;
  font-weight: 700;
  color: #EE817B;
  border: 2px solid #EE817B;
  background-color: #FFFFFF;
  box-shadow: 0 3px 8px #BEB9B9;
}

.introduction button:hover {
  color: #FFFFFF;
  background-color: #EE817B;
  transition: .5s ease-out;
}

@media (min-width: 1000px) {
  .introduction {
    width: 40%;
    border-radius: 5%;
    margin-left: 10%;
  }
}

.works__images {
  text-align: center;
}

.works__images-img {
  display: inline-block;
  width: 274px;
  height: 187px;
  background-color: #BEB9B9;
  border-radius: 5%;
  margin: 5% 0;
}

@media (min-width: 1000px) {
  .works__images {
    margin-right: 7%;
  }
  .works__images-img {
    display: block;
    width: 755px;
    height: 514px;
    margin-left: auto;
  }
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.bg-color--primarypink {
  background-color: #FCECEA;
}

.style {
  margin-top: 0;
}

.style__color, .style__font {
  width: 80%;
  margin: 3% auto;
  text-align: left;
}

.style__color h4, .style__font h4 {
  padding: 5% 0;
}

.style__color span, .style__font span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border-radius: 50%;
  margin-right: 3%;
}

.style__color h2.font--lato, .style__font h2.font--lato {
  display: inline-block;
  font-family: "Lato", sans-serif;
  margin-right: 2%;
}

.style__color p, .style__font p {
  display: inline-block;
}

@media (min-width: 1000px) {
  .style {
    width: 90%;
    height: 210px;
    margin: 0 auto;
  }
  .style__color, .style__font {
    display: inline-block;
  }
}

.link {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-bottom: 30%;
}

.link h4 {
  display: inline-block;
  color: #EE817B;
}

.link h4::after {
  display: block;
  content: '';
  border-bottom: 3px solid #EE817B;
  width: 30px;
  margin: 40% auto 0;
}
