/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,700" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Dosis:400,700|Lato:400,700" rel="stylesheet');
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  list-style: none;
}

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: auto;
  background-color: #FFFFFF;
  width: 100%;
}

main {
  display: block;
}

section {
  margin: 30% 0;
}

@media (min-width: 1000px) {
  section {
    margin: 15% 0;
  }
}

h1 {
  font-size: 1.875rem;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  letter-spacing: 0.3em;
}

h2 {
  font-size: 1.562rem;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
}

h2.text--upright {
  display: inline-block;
  letter-spacing: 10px;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
  text-orientation: upright;
}

h3 {
  display: inline-block;
  font-size: 1.562rem;
}

@media (min-width: 1000px) {
  h3 {
    font-size: 1.5rem;
  }
}

h4 {
  font-size: 1.25rem;
}

@media (min-width: 1000px) {
  h4 {
    font-size: 1.25rem;
  }
}

p {
  font-size: 16px;
}

@media (min-width: 1000px) {
  p {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.heading__left {
  text-align: left;
}

.heading__left h2.text--upright {
  margin-top: 5%;
  padding-left: 30px;
}

@media (min-width: 1000px) {
  .heading__left h2.text--upright {
    padding-left: 50px;
  }
}

.heading__left h2.text--upright::before {
  content: '';
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #FCECEA;
  margin: -25px 0 0 -70px;
}

.heading__left h2.text--upright::after {
  display: block;
  content: '';
  border-left: 3px solid #928484;
  height: 30px;
  margin: 110px 13px 0 0;
}

.heading__right {
  text-align: right;
}

.heading__right h2.text--upright {
  display: inline-block;
  position: relative;
  margin-top: 5%;
  padding-right: 45px;
}

.heading__right h2.text--upright::before {
  content: '';
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #FCECEA;
  margin: -25px -70px 0 0;
  position: absolute;
  top: 0;
  right: 70px;
  z-index: -1;
}

.heading__right h2.text--upright::after {
  display: block;
  content: '';
  border-left: 3px solid #928484;
  height: 30px;
  margin: 110px 13px 0 0;
  position: absolute;
  bottom: 35%;
  right: 15px;
}

@media (min-width: 1000px) {
  .heading__right h2.text--upright {
    display: inline-block;
    position: relative;
    padding-right: 70px;
  }
  .heading__right h2.text--upright::before {
    content: '';
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #FCECEA;
    margin: -25px -70px 0 0;
    position: absolute;
    top: 0;
    right: 100px;
    z-index: -1;
  }
  .heading__right h2.text--upright::after {
    display: block;
    content: '';
    border-left: 3px solid #928484;
    height: 30px;
    margin: 110px 13px 0 0;
    position: absolute;
    bottom: 35%;
    right: 40px;
  }
}

.heading__center {
  text-align: center;
}

.heading__center h2 {
  display: inline-block;
  position: relative;
  letter-spacing: 5px;
  line-height: 35px;
}

.heading__center h2::before {
  content: '';
  display: block;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  background-color: #FCECEA;
  margin: 0 0 0 0;
  position: absolute;
  top: -50px;
  left: 0;
  z-index: -1;
}

.heading__center h2::after {
  display: block;
  content: '';
  border-bottom: 3px solid #928484;
  width: 30px;
  margin: 18px auto 0;
}

@media (min-width: 1000px) {
  .heading__center h2::before {
    content: '';
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #FCECEA;
    margin: 0 0 0 0;
    position: absolute;
    top: -50px;
    left: -30px;
    z-index: -1;
  }
}

@media (min-width: 640px) and (max-width: 999px) {
  .heading__center h2::before {
    content: '';
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: #FCECEA;
    margin: 0 0 0 0;
    position: absolute;
    top: -50px;
    left: -30px;
    z-index: -1;
  }
}

.bg-color--primarypink {
  background-color: #FCECEA;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 10;
  background-color: #FFFFFF;
}

header .header__flex {
  width: 90%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: absolute;
  top: 30px;
  background-color: #FFFFFF;
}

header .header__flex--left {
  width: 50%;
}

header .header__flex--left img {
  top: 50px;
  z-index: 10;
  width: 30px;
  height: 35px;
}

header .header__flex--left .header__text {
  display: inline-block;
  margin-left: 5%;
  letter-spacing: 0.2rem;
  opacity: 0;
}

header .header__flex--left .header__text.active {
  opacity: 1;
}

header .header__flex--right {
  width: 50%;
  height: 50px;
  text-align: right;
}

header .header__flex--right .nav-toggle {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

header .header__flex--right .nav-toggle span {
  display: inline-block;
  position: absolute;
  top: 20px;
  right: 0;
  width: 60%;
  height: 3px;
  background-color: #928484;
  border-radius: 30px;
  -webkit-transition: 0.3s transform ease-out;
  -moz-transition: 0.3s transform ease-out;
  -ms-transition: 0.3s transform ease-out;
  -o-transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out;
}

header .header__flex--right .nav-toggle span::before {
  content: '';
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  top: -10px;
  background-color: #928484;
  border-radius: 30px;
  transition: transform 3s;
  -webkit-transition: 0.3s transform ease-out;
  -moz-transition: 0.3s transform ease-out;
  -ms-transition: 0.3s transform ease-out;
  -o-transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out;
}

header .header__flex--right .nav-toggle span::after {
  content: '';
  width: 100%;
  height: 3px;
  display: block;
  position: absolute;
  top: 10px;
  background-color: #928484;
  border-radius: 30px;
  transition: transform 3s;
  -webkit-transition: 0.3s transform ease-out;
  -moz-transition: 0.3s transform ease-out;
  -ms-transition: 0.3s transform ease-out;
  -o-transition: 0.3s transform ease-out;
  transition: 0.3s transform ease-out;
}

header .header__flex--right .nav-toggle.open span {
  background-color: transparent;
}

header .header__flex--right .nav-toggle.open span::before {
  -webkit-transform: translateY(10px) rotate(-45deg);
  -moz-transform: translateY(10px) rotate(-45deg);
  -ms-transform: translateY(10px) rotate(-45deg);
  -o-transform: translateY(10px) rotate(-45deg);
  transform: translateY(10px) rotate(-45deg);
}

header .header__flex--right .nav-toggle.open span::after {
  -webkit-transform: translateY(-10px) rotate(45deg);
  -moz-transform: translateY(-10px) rotate(45deg);
  -ms-transform: translateY(-10px) rotate(45deg);
  -o-transform: translateY(-10px) rotate(45deg);
  transform: translateY(-10px) rotate(45deg);
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.global-nav {
  margin-left: auto;
  text-align: right;
}

.global-nav li {
  font-size: 11px;
}

.global-nav a {
  color: #545454;
}

.global-nav a:hover {
  opacity: 0.5;
}

.global-nav.open {
  visibility: visible;
}

@media (min-width: 1000px) {
  .global-nav {
    visibility: hidden;
    width: 100px;
    margin-left: auto;
    text-align: right;
    background-color: #FFFFFF;
    transform: translateX(100%);
    transition: .5s transform ease-out;
  }
  .global-nav li {
    display: inline-block;
    width: 100%;
    font-size: 15px;
    font-weight: 400;
    padding: 10% 0;
  }
  .global-nav li a {
    color: #545454;
  }
  .global-nav li a:hover {
    opacity: 0.5;
  }
  .global-nav li.open {
    visibility: visible;
  }
  .global-nav.open {
    transform: translateX(0);
  }
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.hero {
  width: 100%;
  min-height: 600px;
  margin-top: 0;
  padding-top: 80%;
}

.hero__txt h1 {
  position: relative;
  display: inline-block;
  width: 100%;
  text-align: center;
  -webkit-animation: textshadow 0.8s 2s forwards ease-in;
  -moz-animation: textshadow 0.8s 2s forwards ease-in;
  -ms-animation: textshadow 0.8s 2s forwards ease-in;
  -o-animation: textshadow 0.8s 2s forwards ease-in;
  animation: textshadow 0.8s 2s forwards ease-in;
  padding-bottom: 32px;
}

@-webkit-keyframes textShadow {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 5px 2px 7px rgba(138, 124, 124, 0.4);
  }
}

@-o-keyframes textShadow {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 5px 2px 7px rgba(138, 124, 124, 0.4);
  }
}

@keyframes textShadow {
  0% {
    text-shadow: none;
  }
  100% {
    text-shadow: 5px 2px 7px rgba(138, 124, 124, 0.4);
  }
}

.hero__txt span {
  display: inline-block;
  -webkit-transform: translateY(-1000px);
  -moz-transform: translateY(-1000px);
  -ms-transform: translateY(-1000px);
  -o-transform: translateY(-1000px);
  transform: translateY(-1000px);
}

.hero__txt span:nth-child(3) {
  padding-right: 2%;
}

.hero__txt span.fallDown {
  -webkit-animation: fallDown 1s forwards ease-in;
  -moz-animation: fallDown 1s forwards ease-in;
  -ms-animation: fallDown 1s forwards ease-in;
  -o-animation: fallDown 1s forwards ease-in;
  animation: fallDown 1s forwards ease-in;
}

@-webkit-keyframes fallDown {
  0% {
    -webkit-transform: translateY(-1000px);
    -moz-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    -o-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  50% {
    -webkit-transform: translateY(-500px);
    -moz-transform: translateY(-500px);
    -ms-transform: translateY(-500px);
    -o-transform: translateY(-500px);
    transform: translateY(-500px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes fallDown {
  0% {
    -webkit-transform: translateY(-1000px);
    -moz-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    -o-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  50% {
    -webkit-transform: translateY(-500px);
    -moz-transform: translateY(-500px);
    -ms-transform: translateY(-500px);
    -o-transform: translateY(-500px);
    transform: translateY(-500px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fallDown {
  0% {
    -webkit-transform: translateY(-1000px);
    -moz-transform: translateY(-1000px);
    -ms-transform: translateY(-1000px);
    -o-transform: translateY(-1000px);
    transform: translateY(-1000px);
  }
  50% {
    -webkit-transform: translateY(-500px);
    -moz-transform: translateY(-500px);
    -ms-transform: translateY(-500px);
    -o-transform: translateY(-500px);
    transform: translateY(-500px);
  }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

.hero__txt h2 {
  opacity: 0;
  text-align: center;
  letter-spacing: 0.15em;
  color: #EE817B;
  text-shadow: 5px 2px 7px rgba(212, 115, 109, 0.4);
  padding-bottom: 10px;
  -webkit-animation: showDelay 0.8s 2s forwards ease-in;
  -moz-animation: showDelay 0.8s 2s forwards ease-in;
  -ms-animation: showDelay 0.8s 2s forwards ease-in;
  -o-animation: showDelay 0.8s 2s forwards ease-in;
  animation: showDelay 0.8s 2s forwards ease-in;
}

@-webkit-keyframes showDelay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes showDelay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes showDelay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1000px) {
  .hero {
    padding-top: 25%;
    text-align: center;
  }
  .hero__txt h1 {
    font-size: 2.5rem;
    width: 80%;
  }
  .hero__txt h2 {
    font-size: 2rem;
  }
}

@media (min-width: 640px) and (max-width: 999px) {
  .hero__txt h1 {
    font-size: 2.5rem;
  }
  .hero__txt h2 {
    font-size: 2rem;
  }
}

.works__thumbnails {
  width: 100%;
}

.works__thumbnails .thumbnail {
  position: relative;
  text-align: center;
  padding: 8% 0;
}

.works__thumbnails .thumbnail img {
  width: 90%;
  height: 250px;
  object-fit: cover;
}

.works__thumbnails .thumbnail p {
  display: inline-block;
  position: relative;
  padding: 5px 0 0 5px;
  margin-right: 75%;
}

.works__thumbnails .thumbnail p::before {
  content: '';
  display: block;
  position: absolute;
  top: 70%;
  left: 18%;
  z-index: -1;
  width: 100%;
  border-bottom: 10px solid #EE817B;
  border-radius: 5%;
  opacity: 0.7;
}

@media (min-width: 1000px) {
  .thumbnail {
    position: relative;
    padding: 5% 0;
    text-align: right;
  }
  .thumbnail img {
    width: 70%;
    height: 250px;
    border: 1px solid transparent;
    border-radius: 20px;
    margin: -5px;
    transition: all .3s ease-out;
  }
  .thumbnail img:hover {
    filter: drop-shadow(2px 3px 7px #B0B0B0);
  }
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.values__block {
  width: 100%;
  margin: 5% auto 15% 0;
}

.values__block--heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5%;
}

.values__block--heading .icon {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 2%;
}

.values__block--heading h3 {
  font-size: 1.562rem;
}

.values__block:nth-child(1) {
  border-left: 5px solid #B2E0F2;
}

.values__block:nth-child(2) {
  border-left: 5px solid #96DADB;
}

.values__block:nth-child(3) {
  border-left: 5px solid #ABBAF9;
}

.values__block--detail {
  margin: 5% 0 0 10%;
}

.values__block--detail li {
  list-style-type: disc;
  padding: 3% 0;
}

@media (min-width: 1000px) {
  .values__block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8% auto 0 3%;
    padding: 2% 0;
  }
  .values__block--heading {
    margin-bottom: 0;
  }
  .values__block h3 {
    font-size: 1.5rem;
    width: 500px;
  }
  .values__block--detail {
    margin: 0 0 0 5%;
  }
}

@media (min-width: 640px) and (max-width: 999px) {
  .values__block--heading {
    margin-bottom: 0;
  }
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.about {
  text-align: center;
}

.about img {
  width: 40%;
  border-radius: 50% 40% 50% 50%/50% 50% 30% 40%;
  margin: 3% 0;
}

.about__flex-item--right {
  text-align: center;
}

.about .text__container {
  width: 90%;
  margin: 5% auto;
  padding: 10%;
  text-align: center;
  border-radius: 30px;
}

.about .text__container p {
  line-height: 2em;
  padding: 3%;
}

.about .text__container--blue {
  background-color: #B2E0F2;
}

.about .text__container--pink {
  background-color: #FCECEA;
}

.about .about__button {
  width: 180px;
  height: auto;
  margin: 5% auto;
  padding: 15px 0;
  border: 3px solid #EE817B;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
}

.about .about__button a {
  color: #545454;
  font-weight: 700;
}

.about .about__button:hover {
  background-color: #EE817B;
}

.about .about__button:hover a {
  color: #FFFFFF;
  font-weight: 700;
}

@media (min-width: 1000px) {
  .about__flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .about__flex-item--left {
    width: 30%;
    margin-left: 10%;
  }
  .about__flex-item--left img {
    width: 100%;
  }
  .about__flex-item--right {
    width: 70%;
    position: relative;
    text-align: right;
  }
  .about__flex-item--right .text__container {
    width: 90%;
    margin-right: 0;
    text-align: left;
    line-height: 2em;
    padding: 3%;
  }
  .about__flex-item--right .text__container--blue {
    background-color: #B2E0F2;
  }
  .about__flex-item--right .text__container--pink {
    margin-top: 5%;
    background-color: #FCECEA;
  }
  .about__flex-item--right .about__button {
    position: absolute;
    bottom: -5%;
    left: 70%;
    width: 25%;
    margin-top: 2%;
    margin-right: 5%;
    padding: 2% 0;
    border: 3px solid #EE817B;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
  }
  .about__flex-item--right .about__button a {
    color: #545454;
  }
  .about__flex-item--right .about__button:hover {
    background-color: #EE817B;
  }
  .about__flex-item--right .about__button:hover a {
    color: #FFFFFF;
    font-weight: 700;
  }
}

@media (min-width: 640px) and (max-width: 999px) {
  .about__flex-item--right .text__container {
    padding: 5%;
  }
  .about__flex-item--right .about__button {
    width: 200px;
    height: auto;
    padding: 15px 0;
  }
  .about__flex-item--right .about__button a {
    font-size: 20px;
  }
}

.contact {
  text-align: center;
}

.contact__text {
  margin: 50px auto 30px;
  width: 70%;
  line-height: 50px;
}

.icon--bg-pink {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  border: 3px solid transparent;
  background-color: #EE817B;
  margin: 0 auto;
}

.icon--bg-pink img {
  width: 40px;
  padding: 17px 0;
}

.icon--bg-pink:hover {
  opacity: 0.8;
  filter: none;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

footer {
  border-top: 1px solid #928484;
  text-align: center;
}

footer .sns {
  display: inline-block;
  margin: 30px auto;
}

footer .sns .icon {
  width: 18px;
  height: 18px;
  margin: 0 10px;
  stroke-width: 0;
  fill: #545454;
}

footer .sns .icon:hover {
  opacity: 0.5;
}

footer p {
  font-size: 0.65rem;
  margin-bottom: 30px;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.introduction {
  width: 100%;
  padding: 10% 0;
  margin-top: 10%;
}

.introduction__container {
  width: 80%;
  text-align: left;
  margin: 0 auto;
}

.introduction__container h1 {
  display: inline-block;
  padding-bottom: 10%;
}

.introduction__container h1::after {
  display: block;
  content: '';
  border-bottom: 3px solid #928484;
  width: 30px;
  margin: 12px auto 12px;
}

.introduction__container p {
  line-height: 24px;
}

.introduction button {
  display: block;
  width: 180px;
  height: 50px;
  padding: 9px 30px;
  margin: 10% auto 0;
  font-size: 20px;
  font-weight: 700;
  color: #EE817B;
  border: 2px solid #EE817B;
  border-radius: 30px;
  background-color: #FFFFFF;
  cursor: pointer;
}

.introduction button:hover {
  color: #FFFFFF;
  background-color: #EE817B;
  transition: .3s ease-out;
}

@media (min-width: 1000px) {
  .introduction {
    width: 550px;
    height: auto;
    border-radius: 5%;
    margin-left: 10%;
  }
}

.works__images {
  text-align: center;
}

.works__images-img {
  display: inline-block;
  width: 100%;
  height: auto;
  background-color: #BEB9B9;
  border-radius: 5%;
  margin: 5% 0;
}

@media (min-width: 1000px) {
  .works__images-img {
    display: inline-block;
    width: 70%;
  }
}

@media (min-width: 640px) and (max-width: 999px) {
  .works__images-img {
    width: 80%;
  }
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.style {
  width: 90%;
  margin: 0 auto;
  padding: 2% 0;
  border: 5px solid #FCECEA;
  border-radius: 30px;
  background-color: #FFFFFF;
}

.style__flex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.style__color, .style__font {
  width: 80%;
  margin: 3% auto;
  text-align: left;
}

.style__color h4, .style__font h4 {
  display: inline-block;
  padding: 7% 0;
  margin-right: 7%;
}

.style__color .colors, .style__font .colors {
  width: 100%;
}

.style__color .colors span, .style__font .colors span {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border: 1px solid #545454;
  border-radius: 50%;
  margin: 3% 3% 0 0;
}

.style__color .fonts, .style__font .fonts {
  width: 100%;
}

.style__color .fonts h2.font--lato, .style__font .fonts h2.font--lato {
  display: inline-block;
  font-family: "Lato", sans-serif;
  margin-right: 2%;
}

.style__color .fonts p, .style__font .fonts p {
  display: inline-block;
}

@media (min-width: 1000px) {
  .style {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 210px;
    margin: 0 auto;
  }
  .style__color, .style__font {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
}

.link {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 15% 0 20%;
}

.link h4 {
  display: inline-block;
  color: #EE817B;
}

.link h4::after {
  display: block;
  content: '';
  border-bottom: 3px solid #EE817B;
  width: 30px;
  margin: 20% auto 0;
}

@media (min-width: 1000px) {
  .link {
    justify-content: space-around;
  }
  .link h4 {
    position: relative;
  }
  .link h4::after {
    display: block;
    content: '';
    border-bottom: 3px solid #EE817B;
    width: 30px;
    margin: 0 auto 0;
    position: absolute;
    top: -120%;
    left: 22%;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease-in;
  }
  .link h4:hover::after {
    top: -60%;
    opacity: 1;
    visibility: visible;
  }
}

.bg-color--blue {
  width: 280px;
  height: 300px;
  background-color: rgba(178, 224, 242, 0.9);
  position: relative;
  margin: 10% auto;
  padding: 0 2%;
  text-align: center;
  line-height: 300px;
}

.bg-color--blue:nth-child(1) {
  border-radius: 50% 50% 50% 70%/50% 50% 70% 60%;
}

.bg-color--blue:nth-child(2) {
  border-radius: 80% 30% 50% 70%/50%;
}

.bg-color--blue:nth-child(3) {
  border-radius: 40% 40% 50% 40%/30% 50% 40% 50%;
}

.bg-color--blue img {
  width: 60%;
  height: 60%;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: -1;
}

.bg-color--blue p {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

@media (min-width: 1000px) {
  .bg-color--blue {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 380px;
    line-height: 380px;
  }
  .works__motto--flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .works__motto--flex-item {
    width: 30%;
  }
}

@media (min-width: 640px) and (max-width: 999px) {
  .bg-color--blue {
    width: 350px;
    height: 350px;
    line-height: 350px;
  }
}

.about__header img {
  width: 30px;
  height: 35px;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 400;
  -webkit-font-smoothing: subpixel-antialiased;
  font-variant-ligatures: common-ligatures;
  color: #545454;
}

@media (min-width: 1000px) {
  html {
    font-size: 20px;
  }
}

.about__part {
  width: 100%;
  background-color: #FCECEA;
  padding: 5% 0;
  margin: 2% 0 0 0;
}

.about__part h2 {
  font-size: 1.562rem;
  padding-bottom: 5%;
}

.about__part__flex {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  text-align: center;
}

.about__part__flex-item {
  width: 80%;
  margin: 10% auto;
  opacity: 0;
}

.about__part__flex-item:nth-child(1) {
  -webkit-animation: scrollIn 1s forwards;
  -moz-animation: scrollIn 1s forwards;
  -ms-animation: scrollIn 1s forwards;
  -o-animation: scrollIn 1s forwards;
  animation: scrollIn 1s forwards;
}

.about__part__flex-item:nth-child(2) {
  -webkit-animation: scrollIn 1s 1s forwards;
  -moz-animation: scrollIn 1s 1s forwards;
  -ms-animation: scrollIn 1s 1s forwards;
  -o-animation: scrollIn 1s 1s forwards;
  animation: scrollIn 1s 1s forwards;
}

.about__part__flex-item:nth-child(3) {
  -webkit-animation: scrollIn 1s 2s forwards;
  -moz-animation: scrollIn 1s 2s forwards;
  -ms-animation: scrollIn 1s 2s forwards;
  -o-animation: scrollIn 1s 2s forwards;
  animation: scrollIn 1s 2s forwards;
}

.about__part__flex-item:nth-child(4) {
  -webkit-animation: scrollIn 1s 3s forwards;
  -moz-animation: scrollIn 1s 3s forwards;
  -ms-animation: scrollIn 1s 3s forwards;
  -o-animation: scrollIn 1s 3s forwards;
  animation: scrollIn 1s 3s forwards;
}

.about__part__flex-item .icon--bg-white {
  width: 80px;
  height: 80px;
  border-radius: 30px;
  border: 3px solid #EE817B;
  background-color: #FFFFFF;
  margin: 0 auto;
  margin: 3% auto;
}

.about__part__flex-item .icon--bg-white .icon {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  position: relative;
  stroke-width: 0;
  stroke: #FFFFFF;
  fill: #EE817B;
  margin: 17% 22%;
}

.about__part__flex-item p {
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 1px;
  margin-top: 10%;
}

@-webkit-keyframes scrollIn {
  from {
    -webkit-transform: translateY(500px);
    -moz-transform: translateY(500px);
    -ms-transform: translateY(500px);
    -o-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@-o-keyframes scrollIn {
  from {
    -webkit-transform: translateY(500px);
    -moz-transform: translateY(500px);
    -ms-transform: translateY(500px);
    -o-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes scrollIn {
  from {
    -webkit-transform: translateY(500px);
    -moz-transform: translateY(500px);
    -ms-transform: translateY(500px);
    -o-transform: translateY(500px);
    transform: translateY(500px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@media (min-width: 1000px) {
  .about__part {
    padding: 0;
  }
  .about__part h2 {
    padding: 3% 0 0 0;
  }
  .about__part__flex {
    justify-content: space-around;
  }
  .about__part__flex-item {
    width: 26%;
    opacity: 0;
  }
  .about__part__flex-item:nth-child(1) {
    -webkit-animation: scrollIn 1s forwards;
    -moz-animation: scrollIn 1s forwards;
    -ms-animation: scrollIn 1s forwards;
    -o-animation: scrollIn 1s forwards;
    animation: scrollIn 1s forwards;
  }
  .about__part__flex-item:nth-child(2) {
    -webkit-animation: scrollIn 1s 1s forwards;
    -moz-animation: scrollIn 1s 1s forwards;
    -ms-animation: scrollIn 1s 1s forwards;
    -o-animation: scrollIn 1s 1s forwards;
    animation: scrollIn 1s 1s forwards;
  }
  .about__part__flex-item:nth-child(3) {
    -webkit-animation: scrollIn 1s 2s forwards;
    -moz-animation: scrollIn 1s 2s forwards;
    -ms-animation: scrollIn 1s 2s forwards;
    -o-animation: scrollIn 1s 2s forwards;
    animation: scrollIn 1s 2s forwards;
  }
  .about__part__flex-item:nth-child(4) {
    -webkit-animation: scrollIn 1s 3s forwards;
    -moz-animation: scrollIn 1s 3s forwards;
    -ms-animation: scrollIn 1s 3s forwards;
    -o-animation: scrollIn 1s 3s forwards;
    animation: scrollIn 1s 3s forwards;
  }
  .about__part__flex-item .icon--bg-white {
    width: 90px;
    height: 90px;
    border-radius: 30px;
    border: 3px solid #EE817B;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin: 0 auto;
  }
  .about__part__flex-item .icon--bg-white:hover {
    background-color: #EE817B;
    filter: none;
  }
  .about__part__flex-item .icon--bg-white:hover .icon {
    fill: #FFFFFF;
  }
  .about__part__flex-item .icon--bg-white:hover .icon-piano {
    stroke: #FFFFFF;
  }
  .about__part__flex-item p {
    font-size: 20px;
    text-align: justify;
    line-height: 170%;
    letter-spacing: 0.5px;
  }
  @-webkit-keyframes scrollIn {
    from {
      -webkit-transform: translateY(500px);
      -moz-transform: translateY(500px);
      -ms-transform: translateY(500px);
      -o-transform: translateY(500px);
      transform: translateY(500px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  @-o-keyframes scrollIn {
    from {
      -webkit-transform: translateY(500px);
      -moz-transform: translateY(500px);
      -ms-transform: translateY(500px);
      -o-transform: translateY(500px);
      transform: translateY(500px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes scrollIn {
    from {
      -webkit-transform: translateY(500px);
      -moz-transform: translateY(500px);
      -ms-transform: translateY(500px);
      -o-transform: translateY(500px);
      transform: translateY(500px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -o-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@media (min-width: 640px) and (max-width: 999px) {
  .about__part__flex {
    justify-content: space-around;
  }
  .about__part__flex-item {
    width: 80%;
  }
  .about__part__flex-item .icon--bg-white {
    margin: 0 auto;
  }
  .about__part__flex-item p {
    font-size: 20px;
    letter-spacing: 0.5px;
    margin-top: 5%;
  }
}
